<% content_for :fullsize do -%>
  <div class="box" id="topicPostNew">
    <div class="boxOuter">
      <div class="boxInner">
        <h2>添加新页面</h2>

  <% form_for @page, :url => admin_pages_url do |f| -%>
  <%= render :partial => "form", :object => f %>
  <p class="submit clearfix"><span class="btnWrap"><%= submit_tag "发 布" %></span> <span class="btnWrap"><%= link_to "取消", admin_pages_url %></span></p>
  <% end -%>
      </div>
    </div>
  </div>
<% end -%>