<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>捐赠书目</h3>
      <div class="contents clearfix">
        <dl class="book">
          <dt><a href="http://www.douban.com/subject/1442789/" target="_blank"><img src="http://otho.douban.com/mpic/s2118676.jpg" /></a></dt>
          <dd><a href="http://www.douban.com/subject/1442789/" target="_blank">小女巫</a></dd>
        </dl>
        <dl class="book">
          <dt><a href="http://www.douban.com/subject/1931593/" target="_blank"><img src="http://otho.douban.com/mpic/s2532217.jpg" /></a></dt>
          <dd><a href="http://www.douban.com/subject/1931593/" target="_blank">寓言三百则-注音绘画本</a></dd>
        </dl>
        <dl class="book">
          <dt><a href="http://www.douban.com/subject/1442790/" target="_blank"><img src="http://otho.douban.com/mpic/s2110097.jpg" /></a></dt>
          <dd><a href="http://www.douban.com/subject/1442790/" target="_blank">小水精</a></dd>
        </dl>
        <dl class="book">
          <dt><a href="http://www.douban.com/subject/1708127/" target="_blank"><img src="http://otho.douban.com/mpic/s3769691.jpg" /></a></dt>
          <dd><a href="http://www.douban.com/subject/1708127/" target="_blank">中国名人的童年故事</a></dd>
        </dl>
        <dl class="book">
          <dt><a href="http://www.douban.com/subject/1442788/" target="_blank"><img src="http://otho.douban.com/mpic/s2084718.jpg" /></a></dt>
          <dd><a href="http://www.douban.com/subject/1442788/" target="_blank">小鬼儿</a></dd>
        </dl>
        <dl class="book">
          <dt><a href="http://www.douban.com/subject/1486596/" target="_blank"><img src="http://otho.douban.com/mpic/s2110096.jpg" /></a></dt>
          <dd><a href="http://www.douban.com/subject/1486596/" target="_blank">香草女巫</a></dd>
        </dl>
        <dl class="book">
          <dt><a href="http://www.douban.com/subject/2006772/" target="_blank"><img src="http://otho.douban.com/mpic/s2205661.jpg" /></a></dt>
          <dd><a href="http://www.douban.com/subject/2006772/" target="_blank">诺贝尔-世界伟人传记</a></dd>
        </dl>

      </div>
      <p class="remark">&raquo; <a href="http://www.douban.com/doulist/231683/" target="_blank">全部书目</a></p>
    </div>
  </div>
</div>