<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>捐赠书目</h3>
      <div class="contents clearfix">
        <dl class="book">
          <dt><a href="http://www.douban.com/subject/1442789/" target="_blank"><img src="http://otho.douban.com/mpic/s2118676.jpg" /></a></dt>
          <dd><a href="http://www.douban.com/subject/1442789/" target="_blank">小女巫</a></dd>
        </dl>
        <dl class="book">
          <dt><a href="http://www.douban.com/subject/1442790/" target="_blank"><img src="http://otho.douban.com/mpic/s2110097.jpg" /></a></dt>
          <dd><a href="http://www.douban.com/subject/1442790/" target="_blank">小水精</a></dd>
        </dl>
        <dl class="book">
          <dt><a href="http://www.douban.com/subject/1442788/" target="_blank"><img src="http://otho.douban.com/mpic/s2084718.jpg" /></a></dt>
          <dd><a href="http://www.douban.com/subject/1442788/" target="_blank">小鬼儿</a></dd>
        </dl>
        <dl class="book">
          <dt><a href="http://www.douban.com/subject/1486596/" target="_blank"><img src="http://otho.douban.com/mpic/s2110096.jpg" /></a></dt>
          <dd><a href="http://www.douban.com/subject/1486596/" target="_blank">香草女巫</a></dd>
        </dl>
      </div>
      <p class="remark">&raquo; <a href="http://spreadsheets.google.com/pub?key=pAQhfnGSEP8MP7NMkXxY8Ow" target="_blank">全部书目</a></p>
    </div>
  </div>
</div>