<div class="box pc-photos">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>爱心相册</h3>
      <div class="contents clearfix">
          <a href="/images/postcard/kid1.png" rel="lightbox"><img src="/images/postcard/kid1.png"  width="200" height="150" /></a>
          <a href="/images/postcard/kid2.png" rel="lightbox"><img src="/images/postcard/kid2.png" width="200" height="150" /></a>
          <a href="/images/postcard/kid3.png" rel="lightbox"><img src="/images/postcard/kid3.png" width="200" height="150" /></a>
          <a href="/images/postcard/kid4.png" rel="lightbox"><img src="/images/postcard/kid4.png" width="200" height="150" /></a>
      </div>
    </div>
  </div>
</div>