<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>如何购买</h3>
      <div class="contents" style="font-size:1.1em">
        <p>公益贺卡自5.10日起在四川省内45个邮政网点销售(<a href="http://1kg.org/misc/postcard-retail" target="_blank">查看销售网点</a>)，或直接在淘宝网店购买</p>
        <p class="img"><a href="http://store.taobao.com/shop/view_shop-2d605efcf9b07bda98b94d699042396d.htm" target="_blank" title="点击进入淘宝网店" alt="点击进入淘宝网店"><img src="/images/postcard/taobao.png" /></a></p>
      </div>
    </div>
  </div>
</div>