<% if @donation -%>
  <div class="avatar"><%= postcard_avatar_for donation.user, "large" if donation && donation.user %></div>
  <div class="content">
    <p class="meta">
      <%= link_to donation.user.login, user_url(donation.user) %> 写于 <%= donation.matched_at.to_date %>
    </p>
    <div class="comment-body"><%= donation.comment_html %></div>
  </div>
<% else -%>
  <p>一张贺卡一本书，让爱继续</p>
<% end -%>