<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>贺卡说明</h3>
      <div class="contents">
        <p>&raquo; <a href="http://1kg.org/misc/postcard-sale-process" target="_blank">公益贺卡认购公告</a></p>
        <p>&raquo; <a href="http://1kg.org/misc/postcard-ad-cost" target="_blank">公益贺卡宣传费使用说明</a></p>
        <p>&raquo; <a href="http://1kg.org/misc/postcard-book-deliver-process" target="_blank">图书配送进展</a></p>
        <p>&raquo; <a href="http://1kg.org/misc/postcard-school-confirm" target="_blank">学校图书受赠证明</a></p>
      </div>
    </div>
  </div>
</div>