<% if flash[:postcard_notice] -%>
  <div class="flashNotice notice"><%= flash[:postcard_notice] %></div>
<% end -%>
<% form_tag minisite_postcard_password_url do -%>
  <%= text_field_tag "password" %> <%= submit_tag "提 交", :class => "submit" %>
<% end -%>