<% @page_title = @title = "公益贺卡" -%>

<% content_for :crumb do -%>
<li>公益贺卡</li>
<% end -%>


<% content_for :sidebar do -%>
<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>最新进展</h3>
      <div class="contents">
        <p>已售出xxxxxx张公益贺卡，
        为xxx所乡村学校
        捐赠了xxxxx本图书，
        有xxxx位消费者指定了学校。</p>
      </div>
    </div>
  </div>
</div>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>如何参与</h3>
      <div class="contents">
        <ul>
          <li><%= link_to "查询你附近的购买地点" %></li>
          <li><%= link_to "淘宝网店" %></li>
          <li>团购联系人：xxx</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<% end -%>

<div id="headline">
  <ul>
    <li><img src="/images/announce/intro.jpg" alt="旅途中的举手之劳，为孩子们的世界打开一扇窗 - “多背一公斤”公益旅游" /></li>

  </ul>
</div>
<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3></h3>
      <div class="contents">
        <p>公益贺卡是由多背一公斤与四川邮政局、四川蜀友文化发展有限公司联合推
        出的公益产品，公众每购买一张贺卡，即向四川省灾区学校、贫困地区学校
        捐赠一本图书。<%= link_to "详细资料" %></p>
      </div>
    </div>
  </div>
</div>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>捐助指南</h3>
      <div class="contents">
        <ul>
          <li>第一步：购买公益贺卡，查询你附近的购买地点，如需团购请联系XXX。</li>
          <li>第二步：在下列学校列表中选择你希望捐助的学校。</li>
          <li>第三步：刮开刮刮漆，输入爱心密码，完成指定。</li>
        </ul>
      </div>
    </div>
  </div>
</div>