<% content_for :heads do -%>
<link type="text/css" rel="stylesheet" href="/stylesheets/postcard.css" media="screen, projection" />
<% end -%>

<% @page_title = @title = "您想把书送给哪所学校？" -%>

<% content_for :sidebar do -%>
  <%= render :partial => "share" %>
<% end -%>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>一般捐赠区</h3>
      <div class="contents">
        <%= render :partial => "schools", :locals => {:bucks => @for_public_bucks} %>
      </div>
      <% unless @for_team_bucks.blank? %>
      <h3 style="background:none">团队捐赠区</h3>
      <div class="contents">
        <%= render :partial => "schools", :locals => {:bucks => @for_team_bucks }  %>
      </div>
      <% end -%>
    </div>
  </div>
</div>

<!-- Google Code for Activated postcard password Conversion Page --> <script language="JavaScript" type="text/javascript"> <!-- var google_conversion_id = 1048548952; var google_conversion_language = "zh_CN"; var google_conversion_format = "3"; var google_conversion_color = "ffffff"; var google_conversion_label = "7AdmCMr8jwEQ2Kz-8wM"; //--> </script> <script language="JavaScript" src="http://www.googleadservices.com/pagead/conversion.js"> </script> <noscript> <img height="1" width="1" border="0" src="http://www.googleadservices.com/pagead/conversion/1048548952/?label=7AdmCMr8jwEQ2Kz-8wM&amp;guid=ON&amp;script=0"/> </noscript>