<% content_for :heads do -%>
<link type="text/css" rel="stylesheet" href="/stylesheets/postcard.css" media="screen, projection" />
<% end -%>

<% @page_title = @title = "您想把书送给哪所学校？" -%>

<% content_for :sidebar do -%>
  <%= render :partial => "share" %>
<% end -%>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>一般捐赠区</h3>
      <div class="contents">
        <%= render :partial => "schools", :locals => {:bucks => @for_public_bucks} %>
      </div>
      <% unless @for_team_bucks.blank? %>
      <h3 style="background:none">团队捐赠区</h3>
      <div class="contents">
        <%= render :partial => "schools", :locals => {:bucks => @for_team_bucks }  %>
      </div>
      <% end -%>
    </div>
  </div>
</div>