
<% content_for :heads do -%>

<% end -%>

<% @page_title = "快乐盒子"  -%>

<% content_for :crumb do -%>
<li>快乐盒子</li>
<% end -%>

<% content_for :fullsize do -%>

<div class="lcolumn">
  
  
</div>


<div class="rcolumn">
 
</div>

<div id="misc">
</div>
<h1></h1>
<% end -%>
