<% content_for :heads do -%>
<link type="text/css" rel="stylesheet" href="/stylesheets/festcard09.css" media="screen, projection" />

<% end -%>

<% @page_title = "公益贺卡节日版，一张贺卡一本书，举手之劳的公益活动，共建乡村学校班图书角！" -%>

<% content_for :crumb do -%>
<li>公益贺卡节日版</li>
<% end -%>

<% content_for :fullsize do -%>
<div id="cards">
<h3>1. 作者：猫尼卡</h3>
<img src="/images/festcard09/card1a.jpg" alt="外页"/>
<p>外页 </p>
<img src="/images/festcard09/card1b.jpg" alt="内页"/>
<p>内页</p>
<h3>2. 作者：猫尼卡</h3>
<img src="/images/festcard09/card2a.jpg" alt="外页"/>
<p>外页 </p>
<img src="/images/festcard09/card2b.jpg" alt="内页"/>
<p>内页</p>
<h3>3. 作者：Dennis Kjellström(瑞典)</h3>
<img src="/images/festcard09/card3a.jpg" alt="外页"/>
<p>外页 </p>
<img src="/images/festcard09/card3b.jpg" alt="内页"/>
<p>内页</p>
<h3>4. 作者：孔明灯</h3>
<img src="/images/festcard09/card4a.jpg" alt="外页"/>
<p>外页 </p>
<img src="/images/festcard09/card4b.jpg" alt="内页"/>
<p>内页</p>
<% end -%>