<% @page_title = "找回密码" %>
<% @body_class = "signinup" %>

<% content_for :fullsize do -%>
<div class="box" id="signin">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>找回密码</h3>

      <% form_tag reset_password_path do -%>
      <p><label for="email" class="label">用户名</label> <%= text_field_tag 'login' %></p>
      <p><label for="email" class="label">邮件地址</label> <%= text_field_tag 'email' %></p>
      <p class="submit"><%= submit_tag '提 交' %></p>
      <% end -%>
    </div>
  </div>
</div>
<% end %>