<h1>登 录</h1>

<% form_tag session_path do -%>
<p><label for="email">邮件地址</label><br/>
<%= text_field_tag 'email' %></p>

<p><label for="password">密码</label><br/>
<%= password_field_tag 'password' %></p>

<p><%= check_box_tag 'remember_me' %> 记住我</p>

<p><%= submit_tag '登 录' %></p>
<% end -%>
