.project
1kg.org.kpf
log/*
tmp/*
tmp/**/*
doc/api
doc/app
doc/plugins
db/*.sqlite3
vendor/rails
config/database.yml
public/user
public/user/*
public/user/**/*
public/group
public/group/*
public/group/**/*
public/photos
public/photos/*
public/photos/**/*
public/group
public/group/*
public/group/**/*
public/pictures
public/pictures/*
public/pictures/**/*
public/good_photos
public/good_photos/*
public/good_photos/**/*
public/schools.json
public/images/calendar_date_select/
public/javascripts/calendar_date_select/
public/stylesheets/calendar_date_select/
.DS_Store
coverage/*
