mkmf.log
.project
1kg.org.kpf
log/*
tmp/*
tmp/**/*
config/sphinx.yml
db/sphinx/*
db/sphinx/**/*
doc/api
doc/app
doc/plugins
db/*.sqlite3
db/data.yml
db/sphinx
vendor/rails
config/database.yml
config/recaptcha.yml
public/user
public/user/*
public/user/**/*
public/group
public/group/*
public/group/**/*
public/photos
public/photos/*
public/photos/**/*
public/group
public/group/*
public/group/**/*
public/pictures
public/pictures/*
public/pictures/**/*
public/good_photos
public/good_photos/*
public/good_photos/**/*
public/javascripts/*.cache.js
public/stylesheets/*.cache.css
public/system
public/schools.json
public/images/calendar_date_select/
public/javascripts/calendar_date_select/
public/javascripts/tiny_mce
public/javascripts/tiny_mce/**/*
public/stylesheets/calendar_date_select/
public/system/**/*
.DS_Store
coverage/*
statistic/*
