.project
log/*
tmp/*
tmp/**/*
doc/api
doc/app
doc/plugins
vendor/rails
config/database.yml
public/user
public/user/*
public/user/**/*
public/group
public/group/*
public/group/**/*
public/photos
public/photos/*
public/photos/**/*
public/pictures
public/pictures/*
public/pictures/**/*
.DS_Store
