<div class="newbox" id="topicCommentForm">
    <span class="span_title">写留言</span>
      <% if logged_in? -%>
        <% form_for :comment, :url => comments_path(commentable) do |f| -%>
        <p><%= f.text_area :body, :cols => 54, :rows => 6 %></p>
        <p class="submit"><%= submit_tag "提 交" %></p>
        <% end -%>
      <% else -%>
        <div class="contents"><%= link_to "登录", login_url(:to => CGI.escape(request.request_uri)) %>以后可以留言</div>
      <% end -%>
</div>