<div class="box" id="topicCommentForm">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>写留言</h3>
      <% if logged_in? -%>
        <% form_for :comment, :url => comments_path(commentable) do |f| -%>
        <p><%= fckeditor_textarea("comment", "body", :toolbarSet => 'OneLine', :height => '400px') %></p>
        <p class="submit"><%= submit_tag "提 交" %></p>
        <% end -%>
      <% else -%>
        <div class="contents"><%= link_to "登录", login_url(:to => CGI.escape(request.request_uri)) %>以后可以留言</div>
      <% end -%>
    </div>
  </div>
</div>