<% @page_title = "写分享" %>

<% content_for :crumb do -%>
<li>写分享</li>
<% end -%>

<% content_for :sidebar do -%>
  <% @page = Page.find_by_slug('share-guide') -%>
  <%if @page%>
  <div class="newbox">
     <span class="span_title">分享指南</span>
      <div class="clearfix" style="margin-bottom:10px"></div>
     <%= render :text => @page.body %>
  </div>
  <%end%>
<%end%>

<div class="newbox" >
      <span class="span_title">写分享</span>
      <div class="clearfix" style="height:10px"></div>
      <% form_for :share, :url => shares_url do |f| -%>
        <%= render :partial => "form", :object => f %>        
        <p class="submit clearfix"><span class="btnWrap"><%= submit_tag "发 布" %></span>
        <span class="btnWrap"><%= link_to "取 消", root_url %></span>带<span class="require">*</span>号的是必填项
        </p>
      <% end -%>
</div>
