<div class="newbox">
  <div class="contents">
    <%= render :partial => "/public/share", :collection => @topics.compact %>
  </div>
  <%= will_paginate @topics %>
  <div class="cleanfix" style="height:20px"></div>
</div>