<% content_for :heads do -%>
<link type="text/css" rel="stylesheet" href="/stylesheets/lightenschool.css" media="screen, projection" />
<style type="text/css">
body {background:white;}
</style>

<% end -%>

<% @page_title = "“点亮学校” 公益旅行攻略征集大赛" -%>

<% content_for :crumb do -%>
<li>点亮学校</li>
<% end -%>

<% content_for :fullsize do -%>

<div class="lcolumn">
  <img src="/images/lightenschool/banner.jpg" alt="点亮学校" style="margin:10px;border:1px #666 solid" />
  <div class="boxouter">
    <h3>活动简介</h3>
    <div class="boxinter">
      <p>十一长假即将来临，多背一公斤网站邀您一起参与“做公益旅行家，点亮乡村学校”公益出游攻略征集活动。</p>
      <p>您可以在多背一公斤网站 1KG.org 提交旅行攻略及乡村学校需求，参与评选活动。您的简单行动，有机会为乡村学校解决实实在在的需求，同时为自己赢取丰富的户外旅行装备！</p>
 <p>活动设公益大奖2名，为每个获奖者探访的学校提供5000元的公益基金，用于解决学校具体需求，另设图书奖5名，为获奖者探访的学校配备图书角。活动同时设旅行家奖133名，获奖者将获得由探路者提供的各种户外旅行装备。最终入围的线路将收录到《公益旅行全地图攻略》结集出版。</p>
      <p>通过简单的行动，每个人都可以把自己的旅程变成公益之旅，让自己的旅行更有意义！</p>
    </div>
  </div>
  <div class="boxouter">
    <h3> 参加活动</h3>
    <div class="boxinter">
      <p>攻略将于9月20日正式开始征集。</p>
      <p>在出行前,您可以先了解“点亮学校”活动的攻略<a class="buttonlink" href="/docs/lightenschool.pdf" target="_blank">征集要求</a>。</p>
      <p>如果您没有出行计划，同样可以通过推荐其他用户攻略的方式来参与这次活动。</p>
    </div>
  </div>
  
  <div class="boxouter">
    <h3>讨论组</h3>
    <div class="boxinter">
  
  <%= render :partial => "/topics/topics", :locals => {:board => @board, :topics => @board.latest_topics} %>
  <p style="text-align:right"><%= link_to "进入小组",group_url(@group), :target => "_blank",:class => "buttonlink" %></p>
    </div>
  </div>
  
  
</div>


<div class="rcolumn">
  
  <div class="boxouter">
    <h3>活动时间表</h3>
    <div class="boxinter">
    <table id="timeline">
      <tbody>
        <tr>
        <th class="lefttable">9月20日</th>
        <th>接受攻略提交</th>
        </tr>
        <tr>
        <th class="lefttable">11月20日</th>
        <th>开始评选</th>
        </tr>
        <tr>
        <th class="lefttable">12月15日</th>
        <th>颁发奖项</th>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
  
  <div class="boxouter">
    <h3>奖品设置</h3>
    <div class="boxinter">
      <div class="category">
        <h4>学校奖</h4>
        <p>根据攻略中的学校信息部分评选</p>
        
        <div class="prize">
	<img src="/images/lightenschool/fund.jpg">
        <div class="info">
	  <h5>大奖</h5><span>2名</span>
          <p>为学校提供5000元公益基金</p>
        </div>
	</div>
        <div class="prize">
	<img src="/images/lightenschool/bookscorner.jpg">
	<div class="info">
          <h5>图书奖</h5><span>5名</span>
          <p>为学校配备图书角</p>
	</div>
	</div>
      </div>
      <div class="category">
        <h4>旅行家奖</h4><p>根据攻略中的旅行攻略部分评选</p>
        
        <div class="prize">
        <img src="/images/lightenschool/shoes.jpg">
	      <div class="info">
     	  <h5>优秀奖</h5><span>3名</span>
        <p>价值800元的户外徒步鞋</p>
        </div>
        </div>
     
        <div class="prize">
        <img src="/images/lightenschool/bag.jpg">
	      <div class="info">
	        <h5>攻略奖</h5><span>30名</span>
	        <p>价值500元的户外背包</p>
        </div>
	      </div>
        
        <div class="prize">
	      <img src="/images/lightenschool/tee.jpg">
        <div class="info">
	        <h5>参与奖</h5><span>100名</span>
	        <p>价值100元的户外T恤衫</p>
        </div>
	      </div>
	<p>以上奖品由探路者提供</p>
      </div>
      </div>

    </div>
    <div class="boxouter">

        <h3>Q&A</h3>
        <div class="boxinter">
          <p>Q：关联学校时没有我要写的学校怎么办？
          <br/>A：先到学校页面，点击“我去过”<br/>
          <br/>Q：网站上没有我要写的学校怎么办？<br/>A：先提交学校信息，等验证通过以后再提交攻略<br/>
          <br/>Q：我想提交两篇攻略怎么办？<br/>A：提交两次</p>
        </div>
      </div>

  </div>
 
</div>

<div id="misc">
  <p><span>活动奖品提供 :</span><a href="http://www.toread.com"target="_blank" title="toread"><img src="/images/lightenschool/toread.png"></a></p>
  <p>特别感谢:　世界银行驻中国代表处　　热心网友素梅 </p>
  <p>发起方：多背一公斤公益网站　　主办方：爱聚（北京）咨询有限公司 </p>
</div>
<% end -%>
