<% content_for :heads do -%>
<link type="text/css" rel="stylesheet" href="/stylesheets/lightenschol.css" media="screen, projection" />

<% end -%>

<% @page_title = "“点亮学校”" -%>

<% content_for :crumb do -%>
<li>点亮学校</li>
<% end -%>

<% content_for :fullsize do -%>


<div style="float:left; width:595px; clear:none;">
<img style="display:block;background:black;width:580px;height:200px;" />

</div>

<div style="float:right; width:330px; clear:none; margin-left:15px;-margin-left:5px;">
 
  
 
</div>


<% end -%>