<% content_for :heads do -%>
<link type="text/css" rel="stylesheet" href="/stylesheets/lightenschool.css" media="screen, projection" />
<style type="text/css">
body {background:white;}
</style>

<% end -%>

<% @page_title = "“点亮学校”" -%>

<% content_for :crumb do -%>
<li>点亮学校</li>
<% end -%>

<% content_for :fullsize do -%>

<div class="lcolumn">
  <img style="display:block;background:#888;width:480px;height:280px; margin:20px;" />
  <div class="boxouter">
    <h3>活动简介</h3>
    <div class="boxinter">
      <p>十一长假即将来临， 多背一公斤邀您一起启动“旅行改变世界”公益出游攻略征集活动。 多背一公斤是一种旅行方式。它以一种轻松快乐的方式，让旅行者在旅途中探访乡村学校，传递爱心 和知识，同时为自己的旅程增添意义。旅行是体验美好世界的有效方式，我们希望透过行走的力量， 传达向上的意念——旅行改变世界。在旅途的过程种探访乡村学校,在学校中与孩子们共同游戏和活动 ，传播知识，分享快乐。使旅行与公益行为合二为一，现公开征集公益旅行线路、攻略。
      </p>
      <p>对所征集公益旅行线路进行公正、公开评比，并将最终入围线路结集出版《公旅行全地图攻略》 （书名未定），鼓励传播并推广给有出行愿望的公众，更为直观的帮助出行者公益之愿的实践,从而通    过有趣、易行的方式，切实推进公民参与社会变革</p>
     </div>
  </div>
  
  <div class="boxouter">
    <h3>奖品设置</h3>
    <div class="boxinter">
      <h4>学校奖</h4><span>根据攻略中的学校信息部分评选</span>
      <div class="prize">
      <img style="display:block;background:#888;width:80px;height:80px; margin:10px;" />
      <h5>大奖</h5><span>2名</span>
      <p>为学校提供5000元公益基金</p>
      </div>
      <div class="prize">
      <img style="display:block;background:#888;width:80px;height:80px; margin:10px;" />
      <h5>图书奖</h5><span>5名</span>
      <p>为学校配备图书角</p>
      </div>
      
      <h4>旅行家奖</h4><span>根据攻略中的旅行攻略部分评选</span>
      
      <div class="prize">
      <img style="display:block;background:#888;width:80px;height:80px; margin:10px;" />
      <h5>优秀奖</h5><span>3名</span>
      <p>户外徒步鞋<br/>价值800元</p>
      </div>
      <div class="prize">
      <img style="display:block;background:#888;width:80px;height:80px; margin:10px;" />
      <h5>攻略奖</h5><span>30名</span>
      <p>户外背包<br/>价值500元</p>
      </div>
      <div class="prize">
      <img style="display:block;background:#888;width:80px;height:80px; margin:10px;" />
      <h5>参与奖</h5><span>100名</span>
      <p>户外T恤衫<br/>价值100元</p>
      </div>
      
    </div>
  </div>
</div>


<div class="rcolumn">
  <div class="boxouter">
    <h3> 参加活动</h3>
    <div class="boxinter">
      <p>在出游前,了解“点亮学校”活动的攻略<a class="buttonlink" href="">征集要求</a>, 在旅途中记录下对他人有参考价值的行程，到达乡村学校后学校收集学校信息，归来后总结成公益旅行攻略，最后登录到多背一公斤</p>                
    </div>
  </div>
  <div class="boxouter">
    <h3>活动时间表</h3>
    <div class="boxinter">
    </div>
  </div>
  <div class="boxouter">
    <h3>Q&A</h3>
    <div class="boxinter">
    </div>
  </div>
 
</div>


<% end -%>