<% content_for :heads do -%>
<%= render :partial => "head" %>

<% end -%>

<% @page_title = "攻略征集需求 - “点亮学校” 公益旅行攻略征集大赛" -%>
<% @title = "点亮学校攻略征集要求" %>


<p id="download">下载攻略征集要求的<a class="buttonlink" href="/docs/lightenschool.pdf">打印版本</a> 。</p>
<div id="requires">
<div class="formbox">
  <h3>征集要求</h3>
  <ol class="required">
    <li>攻略中应包含对作者背景的简单介绍 </li>
    <li>攻略内容能体现公益旅游的特点，展现各地人文地理风情，关注沿途的乡村学校   </li>
    <li>线路的执行时间为1-2天短途游,5-15天长途游等，参与人员数量不限 </li>
    <li>线路以徒步、搭车等自助游形式为主 </li>
    <li>注意公益旅行的可行性、安全性.要求攻略思路清晰，描述简洁、清楚，但对字数没有限制</li>
  </ol>
</div>

<div class="formbox">
  <h3>攻略内容要求</h3>
  <ol class="required">
    <li>攻略名称、线路背景情况说明、相关背景图片 </li>
    <li>线路形成安排与时间安排 </li>
    <li>景点到学校的主要交通方式、附线路地图示意图 </li>
    <li>最佳旅行时间、装备推荐 </li>
    <li>学校主要情况介绍（师生人数、班级设置情况、教舍用具情况、师资情况、软硬件需求) </li>
    <li>学校公益活动类型推荐 </li>
    <li>学校周边主要景点、住宿、餐食推荐 </li>
    <li>费用预算清单 </li>
  </ol>
</div>

<div class="formbox">
  <h3>版权说明</h3>
  <ol class="required">
    <li>提交的方案必须为原创、完整作品,不得抄袭他人作品，参赛者必须是参赛作品的合法拥有者，具有自主版权，并承担相应的法律责任 </li>
    <li>对于采用现有的文字、图片等素材，要在作品的创作说明中注明出处，并在作品引用处标注其出处,图片素材可用于赞助商对本次活动的非商业宣传； </li>
    <li>本次活动最终解释权归爱聚（北京）咨询有限公司所有</li>
  </ol>
</div>
</div>