
<% content_for :heads do -%>
<%= render :partial => "head" %>
<style type="text/css"> 
body {background: #ececec url(/images/lightenschool/background.png)no-repeat center top;}
</style>
<% end -%>

<% @page_title = "“点亮学校” 公益旅行攻略征集大赛获奖名单" -%>

<% content_for :crumb do -%>
<li>点亮学校</li>
<% end -%>

<% content_for :fullsize do -%>

<% end -%>
