<div class="box" id="search-front">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>城市搜索</h3>
      <div class="contents">
        <% form_tag search_geos_url, :method => :get do -%>
          <%= text_field_tag 'city', "", {:size => "25", :class => "form-text"} %> <%= submit_tag "查找", :class => "form-submit" %>
        <% end -%>
        <p class="tipText">或 <%= link_to "按省查找城市", geos_url %></p>
      </div>
    </div>
  </div>
</div>