    <%= render :partial => '/schools/school', :collection => @schools %>    
    <br/><span class="gary_span"><%= "#{@city ? @city.name : @province.name}还没有学校" if @schools.empty? %></span>
    <%= schools_paginate @schools, @city %>
  
