<div class="contents">
  <ul>
  <% schools.each do |school| -%>
    <li><%= link_to_function h(school.title), "schoolClickFn(new GLatLng(#{school.basic.latitude.to_f}, #{school.basic.longitude.to_f}), #{school.id}, 9)", :style => "font-size:14px" %></li>
  <% end -%>
  </uL>
  <%= schools_paginate schools %>
</div>