<% @page_title = @title = (@city ? @city.name : "全国") -%>

<div class="box" id="cityList">
  <div class="boxOuter">
    <div class="boxInner">
      <h2></h2>
      <div class="tips">
        <h4>选择你喜欢的城市看看</h4>
      </div>
      <div class="contents tipText">
        <ul class="clearfix">
          <% @cities.each do |c| -%>
            <li><%= link_to c.name, geo_url(c) %></li>
          <% end -%>
        </ul>
      </div>
    </div>
  </div>
</div>