<% if @donation && @donation.user -%>
  <div class="avatar"><%= mooncake_avatar_for donation.user, "large" %></div>
  <div class="content">
    <p class="meta">
      <%= link_to donation.user.login, user_url(donation.user) %> 写于 <%= donation.matched_at.to_date %>
    </p>
    <div class="comment-body"><%= donation.comment_html %></div>
  </div>
<% else -%>
  <p>感谢您购买时光之秋公益月饼</p>
<% end -%>