<div class="clearfix center" id="misc">
  <%= link_to image_tag("mooncake/sitlogo.jpg"), "http://www.sitcoffee.com/active.php?id=52", :target => "_blank" %> <%= link_to image_tag("logo.gif"), root_url %>
</div>