<% @page_title = "密码配对成功 - 时光之秋公益月饼" %>

<% content_for :heads do -%>
<%= render :partial => "head" %>
<% end -%>

<% content_for :fullsize do %>
<img src="/images/mooncake/smile.jpg" style="margin-left:80px;">
<img src="/images/mooncake/thanks.jpg" style="margin-left:10px">
  
<img src="/images/mooncake/congratulation.jpg" style="margin-left:220px;">
  <p style="position:relative;top:-50px;left:260px;font-size:1.2em;font-weight:bold" >回到<a href="/minisite/mooncake/" title="公益月饼">活动首页</a></p>
<% end %>