<p><label class="label">标题</label><%= form.text_field :title, :size => 20, :class => "formText" %></p>
<div><label class="label"><%= avatar_for current_user, "large" %></label>
  <p>
    <%= form.text_area :body_html, :style => 'width:840px;height:480px;', :class => "mceEditor" %>
  </p>
</div>