<% @page_title = @title = "写新话题" -%>

<% content_for :sidebar do -%>
<% end -%>

  <% form_for @topic, :url => board_topics_url(@board) do |f| -%>
  <%= render :partial => "/topics/form", :object => f %>
  <p style="margin-left:70px"><%= f.submit "发布" ,:class => "surebutton"%> <%= f.submit "取消" ,:class => "surebutton",:onclick =>"javascript:window.location='#{((@board.talkable.class == Team) ? team_path(@board.talkable) : board_path(@board) )}';return false" %></p>
  <% end -%>
