<% @page_title = "全部话题" -%>

<% content_for :crumb do -%>
<li>全部话题</li>
<% end -%>

<% content_for :sidebar do -%>
<p>&raquo; <%= link_to "返回首页", root_url %></p>
<% end -%>

<div class="newbox">
   <h3>全部话题</h3>
    
    <div class="contents">
      <%= render :partial => "/public/topic", :collection => @topics %>
      <%= customize_paginate @topics %>
    </div>
    <div class="cleanfix" style="height:20px"></div>
</div>
