<div style="padding:60px;text-align:center;font-size:36px;color:#999;background-color:#f0f0f0">团捐的介绍</div>

<%= render :partial => "/shared/donation_activity", :collection => @donation_activities ,:locals => {:detail => true}%>