<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h2>添加一公斤盒子</h2>
      <span class="postNew"></span>
      <div class="contents">
        <%= render :partial => 'form' %>
      </div>
    </div>
  </div>
</div>
