<h1>更新项目执行报告</h1>
<% form_for [@school, @requirement] do |form| %>
  <p><label>执行报告</label><br />
  <%= form.text_area :feedback, :style => 'width:600px;height:500px;', :class => "mceEditor" %>
  <p><label></label><%= submit_tag "更新报告" %></p>
<% end %>