<% @page_title = @title = "编辑团捐信息" -%>

<% content_for :sidebar do -%>
<% @page = Page.find_by_slug('donation-activity-guide') -%>
  <%if @page%>
  <div class="box">
    <h3>团捐编辑指南</h3>
      <div class="clearfix" style="margin-bottom:10px"></div>
     <%= render :text => @page.body %>
  </div>
  <%end%>
<% end -%>


<div class="box" id="activitiesPostNew">
  <div class="clearfix" style="height:10px"></div>
  <% form_for @co_donation, :html => {:multipart => true} do |f| -%>
    <%= render :partial => "form", :object => f %>
    <%= f.submit "保存" ,:class => "surebutton"%> <%= f.submit "返回" ,:class => "surebutton",:onclick =>"javascript:window.location='#{co_donation_path(@co_donation)}';return false" %>
  <% end -%>
</div>
