<% @page_title = @title = "邀请好友" -%>
      <div class="contents clearfix">
        <p class="caution">勾上想邀请的用户, 点击"发送邀请"</p>
      <% form_tag send_invitation_co_donation_url(@co_donation), :method => :put  do -%>
        <%= render :partial => "/public/user_invitation", :locals => {:users => @friends} %>
      <% end -%>
      </div>

<% content_for :sidebar do -%>
  <div class="cleanfix" style="clear:both;height:20px"></div> 
<span class="remark"><%= link_to "&raquo; 回到活动",@co_donation%></span>
<%end%>

