<% @page_title = @title = "发起新团捐" -%>

<% content_for :crumb do -%>
<li>发起新团捐</li>
<% end -%>

<% content_for :sidebar do -%>
<% @page = Page.find_by_slug('co-donation-guide') -%>
  <%if @page%>
  <div class="newbox">
     <span class="span_title">团捐编辑指南</span>
      <div class="clearfix" style="margin-bottom:10px"></div>
     <%= render :text => @page.body %>
  </div>
  <%end%>
<% end -%>


<div class="newbox" id="activitiesPostNew">
  <div class="clearfix" style="height:10px"></div>
  <% form_for :co_donation, :url => co_donations_path, :html => {:multipart => true} do |f| -%>
    <%= render :partial => "form", :object => f %>
    <%= f.submit "确认" ,:class => "surebutton"%> <%= f.submit "取消" ,:class => "surebutton",:onclick =>"javascript:window.location='/co_donations/';return false" %>
  <% end -%>
</div>
