<% @page_title = @title = "已结束的物资团捐"%>



<div class="cleanfix" style="clear:both;height:20px"></div> 
<% content_for :sidebar do -%>
  <span class="remark"><%= link_to raw("&raquo;  回到团捐首页"),co_donations_url%></span>
<% end %>


<div class="clearfix" style="clear:both;height:10px"></div>
  <div style="width:640px">
  <%= render :partial => "/public/co_donation", :collection => @co_donations ,:locals => {:detail => true}%>
  <div class="clearfix" style="clear:both;height:10px"></div>
  <%= customize_paginate @co_donations %>
</div>
