<% content_for :heads do -%>
<link type="text/css" rel="stylesheet" href="/stylesheets/market.css" media="screen, projection" />
<% end -%>

<% content_for :crumb do -%>
<li>一公斤商城</li>
<% end -%>

<% content_for :fullsize do -%>
<div id="page">
  <img style="background:#ccc;display:block;width:930;height:200px"/>
  <div id="leftpage">
  </div>
  <div id="rightpage">
  </div>
</div>
<% end -%>
