<% content_for :heads do -%>
<link type="text/css" rel="stylesheet" href="/stylesheets/market.css" media="screen, projection" />
<% end -%>

<% content_for :crumb do -%>
<li>公益市场</li>
<% end -%>

<% content_for :fullsize do -%>
<div id="page">
  <div style="background:#ccc;display:block;width:930;height:200px; margin:10px">
    公益项目列表
  </div>
  <div style="background:#ccc;display:block;width:930;height:200px; margin:10px">
    公益积分
  </div>
  <div style="background:#ccc;display:block;width:930;height:200px; margin:10px; font:24px bold; text-align:center;">
    <%= link_to "公益商城", mall_index_path %>
  </div>
</div>
<% end -%>
