/* used colors
 * green: #669900
 * orange: #ff9900
 */
#edgenotice {background:red; color:yellow; margin-bottom:1em; padding:0; text-align:center}

h1 { font-size: 25px; font-weight: bold; color: #494949; margin:0; padding: 8px 0px 6px 0px; line-height:1.1em; }
/*.h1sub {float:right; font-size:12px; font-weight:normal; color:gray; }*/
h2 { font: 14px normal Arial, Helvetica, sans-serif; color: #f90; margin-bottom: 5px; line-height: 150%; }
/*h2 .h2l {font-size:12px;}
h2.pink{ padding: 2px 0 2px 5px; background: #FCF; color:#C00;}*/
p label { font-size: 14px;}
abbr, acronym, span.abbr {cursor: help;}

/*td label { font-size: 14px; color:#666;}*/
/*td.label {vertical-align:top;}*/

.notice {color:red;}
.tip { color:gray; }

a img { border-width:0; }

a:link, a:hover, a:visited, a:active {color:#669900; text-decoration:none;}
a:hover, a:active { text-decoration:underline;}
/* dashed bottom border */
/*
div.dbb { padding:15px 0 5px 0; border-bottom:1px dashed #ccc;}
*/

.clear { height:1px; overflow:hidden; clear:both;}
.left {text-align:left;}
.right {text-align:right;}
.center {text-align:center;}
.odd {background:#ffffcd;}
.hide {display:none;}
.remove {text-decoration:overline;}

/* --- for flash[:notice] --- */
.fieldWithErrors {padding: 2px; background-color: red; display: table;}
.errorExplan {color:red; border:0; padding:0; margin:0;}
/*.flashNotice { margin:10px 0 5px 0; padding:2px 0; text-align:center; font-size:14.8px; color:#f90; border-top:1px solid #f90; border-bottom:1px solid #f90;}*/
.flashNotice {padding:.8em;margin-bottom:1em;border:2px solid #ddd;background:#FFF6BF;color:#514721;border-color:#FFD324;color:#264409;}

/* --- for layout --- */
/*#wrapper {margin-top: 1px;}*/
#user_bar {text-align:right; line-height:1.2em;}
/*#user_bar a:link, #up a:visited {color:#FFCC00;}
#user_bar a:hover, #up a:active {color:#FFF; background:#FFCC00;}*/
#logo { margin-bottom:10px; }
#nav *{background:#7BBD2A;}
#nav a.first {margin-left:0;}
#nav a.last {border-right:none}
#nav a { display:block; float:left; margin:2px; padding:8px 26px; text-decoration:none; color:#FFF; background: #7bbd2a; font-size:14px; line-height:14px;}
#nav a:hover { background:#FF9900;}
#nav a.now { margin:2px; padding: 8px 26px; background:#FFF; color:#000;}
#footer { text-align:right; border-top:1px solid #ccc; padding:5px; margin-top: 10px; background:#fff;}
#content {}
#main {margin-top:10px; margin-left:20px; padding:0;}
#sidebar {margin:0; padding:0;}

div.operations {border:1px solid #adadad; overflow:hidden; padding:5px; margin-bottom:10px;}
div.topic div.avatar {float:right; margin:10px;}

/* --- for tabbed panel  --- */
div.tabbedPanel {border:1px solid #adadad;overflow:hidden;position:relative;zoom:1;}
div.tabbedPanel ul.tab {border-bottom: 1px solid #888; margin:0; padding: 15px 0px 0px 15px;background-color:#F5F5F5;zoom:1;}
div.tabbedPanel ul.tab:after {clear:both;content:"";display:block;height:0pt;overflow:hidden;visibility:hidden;}
div.tabbedPanel ul.tab li {border:1px solid #888888;display:inline;float:left;margin-right:8px;position:relative;top:1px;}
div.tabbedPanel ul.tab li.current {border-bottom: 1px solid #FFF;}
div.tabbedPanel ul.tab li a {color:#FFF;background-color:#999;border-top: 1px solid #b5b5b5;padding:2px 15px;display:block;}
div.tabbedPanel ul.tab li.current a {color:#333;background-color:#FFF;border-top: 1px solid #f0f0f0;}

/* --- for setting form --- */
div.setting div.block {margin:20px 60px;clear:both;zoom:1;}
div.setting div#errorExplanation,div.setting div#okExplanation {margin:5px 60px;}
div.setting div.block h2 {color:#333;font-size:20px;padding:0px;}
div.setting div.block h3 {font-size:1.2em; border-bottom: 1px solid #CCC;color:#333;padding-bottom:0.4em; margin-bottom:0.4em;zoom:1;font-weight: normal;}
div.setting div.block p.note {color:#666;margin:0.4em 0pt;}
div.setting form {padding-top:20px;}
div.setting form p {margin:10px;clear:both;}
div.setting form label {font-size: 12px; line-height:21px;float:left; margin-right:10px;text-align: right;width:35%;}
div.setting form p.detail {color:green;clear:none;width:55%;float:left;margin:0px 10px;}
div.setting form p.info {clear:none;width:55%;float:left;margin:0px 10px;}
div.setting form input, div.setting form select, div.setting form textarea {margin:0px 10px;}
div.setting form input.text, div.setting form textarea {padding:2px;border: 1px solid #999;font-size:13px;}

/* --- for posting form --- */
div.posting div.block {margin:5px 10px;clear:both;zoom:1;}
div.posting div#errorExplanation,div.setting div#okExplanation {margin:5px 10px;}
div.posting div.block h2 {color:#333;font-size:20px;padding:0px;}
div.posting div.block h3 {font-size:1.2em; border-bottom: 1px solid #CCC;color:#333;padding-bottom:0.4em; margin-bottom:0.4em;zoom:1;font-weight: normal;}
div.posting div.block p.note {color:#666;margin:0.4em 0pt;}
div.posting form {padding-top:20px;}
div.posting form p {margin:10px;clear:both;}
div.posting form span.text {margin:0 10px; padding:2px;}
div.posting form label {font-size: 1.2em; line-height:21px;float:left; margin-right:10px;text-align: right;width:15%;}
div.posting form p.detail {color:green;clear:none;width:55%;float:left;margin:0px 10px;}
div.posting form p.info {clear:none;width:55%;float:left;margin:0px 10px;}
div.posting form input, div.posting form select, div.posting form textarea {margin:0px 10px;}
div.posting form input.text, div.posting form textarea {padding:2px;border: 1px solid #999;font-size:13px;}
div.posting form input.calendar {padding-right:0; margin-right:0;}
div.posting form img.calendar {margin-top:0; border:0px; cursor:pointer; vertical-align:bottom;}
div.posting form img.indicator {margin-top:0; border:0px; vertical-align:bottom;}

/* --- for comment form --- */
div.commentForm {margin:5px 10px; clear:both; zoom:1;}
div.commentForm h2 {font-size:14px; color:black;}
div.commentForm form p {margin:5px 0 10px 0; clear:both;}
div.commentForm form input, div.commentForm form textarea {margin:0 10px;}
div.commentForm form input.text, div.commentForm form textarea {padding:2px;border:1px solid #999;font-size:13px;}

/* --- for comment list --- */
div.commentsList div.block{margin:5px 10px; clear:both; zoom:1;}
div.commentsList div.block div.content {margin-left:70px;}
div.commentsList div.block div.avatar {float:left; margin-right:10px; text-align:right; width:50px;}
div.commentsList div.block div.border {height:1px; clear:both; border-bottom:1px dashed #999; margin-bottom:20px;}
div.commentsList .meta {color:#999;}

/* --- for school submit form --- */
div.school-steps {border-bottom:3px solid #E77302;margin-bottom:10px;background:#F2F2F2;font-size:12px;text-align:left;line-height:29px;}
div.school-steps ul {list-style-type: none;display:block;float:none;}
div.school-steps ul li {height:29px;float:left;background-image:url(/images/step_arrow.gif);background-repeat:no-repeat;color:white;font-size:14px;font-weight:bold;line-height:29px}
div.school-steps ul li.first {background-position:0 0;padding-right:30px;padding-left:8px}
div.school-steps ul li.first-current {background-position:0 -150px;padding-right:30px;font-size:16px;padding-left:8px}
div.school-steps ul li.middle {background-position:0 -50px;margin-left:-20px;padding-right:30px;padding-left:22px}
div.school-steps ul li.middle-current {background-position:0 -200px;margin-left:-20px;padding-right:30px;padding-left:22px;font-size:16px;}
div.school-steps ul li.last {background-position:0 -100px;margin-left:-20px;padding-left:22px;position:relative;}
div.school-steps ul li.last span.hook {position:absolute;top:0;right:-20px;width:20px;height:29px;display:block;background:url(/images/step_arrow.gif) no-repeat right -100px;}
div.school-steps ul li.last-current {background-position:0 -250px;margin-left:-20px;padding-left:22px;position:relative;font-size:16px;}
div.school-steps ul li.last-current span.hook {position:absolute;top:0;right:-20px;width:20px;height:29px;display:block;background:url(/images/step_arrow.gif) no-repeat right -250px;}