body{background:#fff}
#content-primary p,#content-secondary p {margin:10px 0;}

#meta{width:620px;height:120px;padding:0 10px}
.school_main img{width:134px;}
.school_main{display:block;height:100px;overflow:hidden;width:134px;}
.meta_left{float:left;width:134px}
.meta_right{float:right;width:470px;}
.meta_right h1{font-size:20px;line-height:20px;margin-right:5px;display:inline}
.meta_right h5{display:inline;line-height:25px;}
.meta_info{margin:5px 0}
.meta_info p{font-size:13px;margin:3px 0 !important;}

.stars{position:relative;top:2px}
.photo_small img{width:47px;margin-top:3px}

.school_box{padding:10px 10px}
.school_sidebar{padding:2px 10px}
.sidebar_inter{padding:10px 2px}

.label_lei{color:#777;border-bottom:1px #d0d0d0 solid}
.content_lei{font-size:14px;color:#444;padding:0 5px;}
.contents{padding:10px}

.summary{font-size:15px;color:#333}

.important a{font-size:16px;}

#visited_date,#wanna_date{width:286px;text-align:right;padding:8px;background:#eee}
#visited_date p,#wanna_date p{margin:0 0 5px}
#visited_visited_at,#visited_wanna_at{width:70px;}
.date_submit input{width:70px}
#status p{color:#888}

#map_info{}
.what_time{margin-top:26px;left:368px;position:absolute}

.obp{margin:0}
.need_tag{margin:0 2px}
