.lcolumn {float:left; margin-left:10px;-margin-left:0px; width:520px;}
.rcolumn {float:right; width:360px;margin-right:10px;}

.boxouter h3 {
color:#fff;
padding:6px 12px;
-padding:8px 12px 4px;
background:#f29455;
line-height:1.3em;
font: bold 1.5em Arial, Helvetica, sans-serif;
}

.tableList{margin-bottom:5px;}

.boxouter{margin-top:15px;}
.boxinter{padding:15px;}
.boxinter p{font-size:13px;line-height:20px;margin-bottom:10px;}
.boxinter li{font-size:13px;list-style:none;}

#timeline {font-size:13px;width:280px;margin-left:20px;color:#d93d16;}
#timeline th{background:#ffe8d9;border: 1px #f2680c solid;font-weight:normal;text-align:center}

.category{background:#ffe8d9;margin-bottom:20px;border:1px #d93d16 solid;width:320px;}
.category p {color:＃606060;text-indent:1em;font-style: italic;margin:4px;font-size:1em;}
.category h4{display:block;
background:#d93d16;
color:white;
width:100%;
font-size:1.2em;
font-weight:bold;
line-height:1.2em;
text-indent:1em;
padding:5px 0;
}
  

.prize{width:270px;height:78px;padding:10px; margin:10px 15px;}

.prize img{border: 1px #888 double;float:left}
.info{float:left;margin-left:20px;-margin-left:10px; padding:5px;}
.prize h5 {
font-size:1.3em;
font-weight:bold;
line-height:1.5em;
}
.prize span {
color:#606060;
font-size:1em;
line-height:1em;

}
.prize p {
text-indent: 0em;
font-style:normal;
margin:0;
}

.button-to{margin:10px 100px 50px 100px;-margin-bottom:10px;}

.buttonlink{background:url(/images/lightenschool/button.gif) no-repeat;
color:#fff;margin:0 4px;padding:2px 6px 2px;width:60px;font-size:13px;}

.buttonlink:hover{background-position:0 -21px;color:#fff;}

#misc {padding:4em 0;width:960px;clear:both;text-align:center;font-size:13px;line-height:26px;}
#misc img {margin:0 4px;}
#misc span {position:relative;top:-12px;}

#form_guide{float:left;width:580px;margin-bottom:100px}

.formbox{margin:30px 5px;}

.formbox span {color:#555;margin-left:15px;}

.formbox h3 {
color:#666;
background:#f3f3f3;
padding:8px 12px;
font-size:1.4em;
font-weight:bold;
line-height:1.4em;
margin-bottom:25px;
}
.formbox .label {
clear:left;
float:left;
font-size:13px;
padding:0 1em 0 0;
text-align:right;
width:auto;
margin-left:10px;
}

.formbox p {margin:1em 0;}

.formText{width:200px}

span.formError{font-size:1em;color:#ffffff;background:#cc0000;padding:4px 8px;width:90%;display:block}

.bigbutton{font-size:14px;font-weight:bold;display:block;float:left;background:#f2680c;border:1px solid;width:100px;margin:0 10px;color:white;cursor:pointer;height:32px}
.bigbutton:hover{background:#ff7519}
span.fieldWithErrors{margin-left:0}
iframe{width:568px;}

h1{line-height:0}

ol.required {list-style-type: decimal; margin:25px;}
ol.required li {margin:5px 0;}