body {background:white;}
td {border:0;}
a:hover {
color:#898989;
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
text-decoration:none;
}
a:link {
color:#262626;
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
text-decoration:none;
}
a {
color:#808080;
}
.AreaL {
float:left;
overflow:hidden;
width:200px;
}
.leftside_table {
border:1px solid #E5E5E5;
float:left;
height:auto;
width:192px;
}
#left_marquee_rmpl {
text-align:left;
width:192px;
}
.td_left_menu_list {
color:#262626;
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
line-height:20px;
padding:5px 16px;
text-decoration:none;
}
.td_left_menu_list a:link {
color:#262626;
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
text-decoration:none;
}
.blank2 {
clear:both;
height:6px;
line-height:5px;
visibility:hidden;
}
.blank {
clear:both;
height:18px;
line-height:8px;
visibility:hidden;
}
.AreaR {
float:left;
overflow:hidden;
width:750px;
}
.goods_top_left {
border:1px solid #B3B3B3;
}
.goods_top_left_row {
border-bottom:1px solid #D9D9D9;
}
.goods_title {
color:#7B7B7B;
font-family:"宋体",sans-serif,serif;
font-size:14px;
font-weight:bold;
text-decoration:none;
}
.goods_sn {
color:#4A4A4A;
font-family:"宋体",sans-serif,serif;
font-size:14px;
font-weight:bold;
text-decoration:none;
}
.btn_thumb_img {
border:1px solid #F3F3F3;
cursor:pointer;
}
.goods_top_right {
border-bottom:1px solid #B3B3B3;
border-right:1px solid #B3B3B3;
border-top:1px solid #B3B3B3;
}
.goods_top_right_row {
border-bottom:1px solid #D9D9D9;
}
.goods_property_title {
color:#898989;
font-family:"宋体",sans-serif,serif;
font-size:12px;
text-decoration:none;
}
.goods_property_value {
color:#646464;
font-family:"宋体",sans-serif,serif;
font-size:12px;
font-weight:bold;
text-decoration:none;
}
.goods_price {
color:#000000;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:16px;
font-weight:bolder;
text-decoration:none;
}
.goods_property_title {
color:#898989;
font-family:"宋体",sans-serif,serif;
font-size:12px;
text-decoration:none;
}
.goods_list_ul {
margin:0;
padding:0;
}
.goods_list_ul_li_normal {
color:#323232;
float:left;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:12px;
height:197px;
margin:0;
padding:0;
width:186px;
}
.recommend_goods_title {
background:#EBEBEB none repeat scroll 0 0;
height:28px;
margin:0;
padding:0;
}
.helpcenter_normal {
height:85px;
margin:0 auto;
width:950px;
padding:5px 0;
border-top:1px solid #CCC;
border-bottom:1px solid #CCC;
}
.helpcenter_normal li {
float:left;
padding:6px;
width:120px;
}
.helpcenter_normal ul li a {
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:12px;
margin-left:12px;
text-decoration:none;
}
.helpcenter_title {
color:#808080;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:12px;
font-weight:bold;
margin-left:3px;
text-decoration:none;
}
