.goods_list{width:580px;height:120px;padding:10px 0}
.goods_photo_frame{display:block;width:120px;height:120px;overflow:hidden;border:1px #ccc solid;}
.goods_description{position:relative;top:-120px;left:140px;width:480px}