.pc-love {float:left; margin:10px 10px 10px 0; padding:3px; border:1px solid #CCC;}
.pc-intro {margin:30px 15px 30px 420px;}
.pc-intro p {margin:6px 0; font-size:14px;}

.pc-photos a {width:200px; margin:5px 12px;}

.cooperation div.block {float:left; width:300px;}

.book {float:left; width:100px; margin:0 12px;}
.book dt {height:150px; margin:0; overflow:hidden; text-align:center;}
.book dd {height:20px; margin:0; overflow:hidden; text-align:center;}

.passwordInput input {border:1px solid #CCC; padding:2px; font-size:1.2em;}
.passwordInput input.submit {background: url(../images/button-newsletter.png) no-repeat; width: 49px; height: 25px; color: #fff; border: 0;}
.passwordField {position:absolute; left:150px; top:18px}

.img {margin:10px;}
.comment-body {height:70px; overflow:block;}

.shareit {margin:8px 0; padding:8px 0; border-top:1px solid #CCC;}

.share_by_widget li {color:#999; float:left; margin:10px 15px 5px 0; list-style-type:none;}
.share_by_widget li a{ width:16px; height:16px; display:block; overflow:hidden; text-indent:-9999em;}
.share_by_widget li.to_twitter a{background:url(/images/share_icon.gif) 0 0 no-repeat;}
.share_by_widget li.to_fb a{background:url(/images/share_icon.gif) -32px 0 no-repeat;}
.share_by_widget li.to_delicious a{background:url(/images/share_icon.gif) -64px 0 no-repeat;}
.share_by_widget li.to_qqsq a{background:url(/images/share_icon.gif) -96px 0 no-repeat;}
.share_by_widget li.to_baidu a{background:url(/images/share_icon.gif) -130px 0 no-repeat;}
.share_by_widget li.to_xiaonei a{background:url(/images/share_icon.gif) -200px 0 no-repeat;}
.share_by_widget li.to_kaixin a{background:url(/images/share_icon.gif) -164px 0 no-repeat;}
.share_by_widget li.to_douban a{background:url(/images/share_icon.gif) -232px 0 no-repeat;}