<p><label>标示符</label><%= form.text_field :slug, :size => 40, :class => "text" %></p>
<p><label>产品名字</label><%= form.text_field :title, :size => 40, :class => "text" %></p>
<p><label>描述</label><%= fckeditor_textarea("type", "description_html", :toolbarSet => 'Simple', :width => '90%', :height => '400px') %></p>