<table>
  <tr>
    <th>小组</th>
    <th>组长</th>
    <th>组员</th>
  </tr>
  <% groups.each do |g| -%>
  <tr>
    <td><%= link_to g.title, group_url(g) %></td>
    <td><%= link_to g.creator.login, user_url(g.creator) %></td>
    <td><%= g.members.count %></td>
  </tr>
  <% end -%>
</table>