<% @page_title = "公益小组" -%>

<% content_for :sidebar do -%>
<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>申请方法</h3>
      <div class="contents">
        <p>在此添加申请方法</p>
      </div>
    </div>
  </div>
</div>
<% end -%>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h2>公益小组</h2>
      <div class="contents">
        
      </div>
    </div>
  </div>
</div>