<% @page_title = "邀请好友" -%>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>邀请好友</h3>
      <div class="contents clearfix">
        <p class="caution">勾上想邀请的好友, 点击"发送邀请"</p>
      <% form_tag send_invitation_group_url(@group), :method => :put  do -%>
        <%= render :partial => "/public/user_invitation", :locals => {:users => @friends} %>
      <% end -%>
      </div>
    </div>
  </div>
</div>