<% @page_title = @title = "#{@group.title}小组成员" -%>

<% content_for :crumb do -%>
<li><%= link_to "小组", groups_url %></li>
<ul>
  <li><%= link_to @group.title, group_url(@group) %></li>
  <ul>
    <li>全部成员</li>
  </ul>
</ul>
<% end -%>

<% content_for :sidebar do -%>

<p>&raquo; <%= link_to "返回#{@group.title}小组", group_url(@group) %></p>

<% end -%>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3></h3>
      <%= render :partial => "/public/user_list", :locals => {:users => @group.members} %>
    </div>
  </div>
</div>