<% @page_title = @title = @title -%>

<% content_for :sidebar do -%>
  <div class="cleanfix" style="clear:both;height:20px"></div> 
<span class="remark"><%= link_to "&raquo; 回到小组频道",groups_url%></span>
<% end %>

<div class="newbox">
      <div class="contents">
      <%= render :partial => "/users/group_topics", :object => @topics%>
      <%= customize_paginate @topics %>
      </div>
</div>
