
<div class="newbox">
  <span class="span_title2"><%= h @user.login %>的小组</span> <%= link_to "查看全部", groups_user_url(@user) %>
      <div class="clearfix" style="height:12px"></div>
      <div class="contents clearfix">
        <%= render :partial => "/groups/groups", :object => groups %>
      </div>
    </div>
  </div>
</div>