<ul class="tab">
  <% [["个人信息", "personal"], ["帐号设置", "account"]].each do |type| -%>
    <li class="<%= @type==type[1] ? "current" : "" %>"><%= link_to type[0], setting_url(:type => type[1]) %></li>
  <% end -%>
</ul>