      <h3>个人设置</h3>
      <p><label>注册邮箱</label>　<span class="gary_span"><%= @user.email %></span></p>
      <p><label>用户名</label> <%= f.text_field :login, :size => 20, :class => 'text' %></p>
      <p><label>居住地</label><%= geo_select "user", "geo",[], @user.geo_id %></p>
      <p><label>邮件提醒</label><%= f.check_box :email_notify %>（收到站内信时发送邮件通知）</p>
  
