      <h3>密码</h3>
        <p><label>新密码</label><%= f.password_field :password, :size => 20, :class => "text" %></p>
        <p><label>密码确认</label><%= f.password_field :password_confirmation, :size => 20, :class => "text" %></p>
