            <h3>我的头像</h3>
            <p class="center"><%= image_tag @user.avatar.url %></p>
            <p class="note">支持 <strong>GIF</strong>, <strong>JPG</strong>, <strong>PNG</strong> 格式的头像, 尺寸不小于 72X72</p>

            <p><label>选择新头像</label> <%= f.file_field 'avatar', :size => 20 %></p>

