<div class="box">
  <div class="cleanfix" style="clear:both;height:10px"></div>
 <h3><%= h user.login %>的帖子</h3>
        <div class="panel setting">
          <div id='topics'>
            <% if topics.blank? -%>
              <div class="contents">
                还没有帖子
              </div>
            <% else -%>
              <%= render :partial => "/public/share", :collection => @topics %>
            <% end -%>
            <div class="cleanfix" style="clear:both;"></div> 
            <div class="remark"><%= link_to raw("&raquo; 查看全部"), topics_user_url(user) %></div>
          </div>
        </div>

</div>
