
<% @page_title = "#{@user.login} 管理的学校" -%>


<% content_for :fullsize do -%>
<style type="text/css">.school_list_meta{width:190px;height:80px}.school_list{width:307px}</style>
<span class="span_title"><%= "#{@user.login}管理的学校" %></span>
<span class="gary_span"><%= "#{@user.login}是以下学校的大使" %></span>
<div class="clearfix" style="clear:both"></div>
<div>
    <%= render :partial => "/public/school", :collection => @schools %>
    <div class="clearfix" style="height:20px"></div>  
</div>  
 
<%end%>