<% content_for :sidebar do -%>
  <%= render :partial => "setting_sidebar" %>
<% end -%>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h2>编辑个人信息</h2>
      <div class="tabbedPanel">
        <%= render :partial => "setting_tabmenu" %>
        
        <div class="panel setting">
          <div class="block">
            <h3>我住的城市</h3>
            <p class="note">选择居住的城市，了解同城的公益活动</p>
            <p class="center">我住在：<strong><%= @user.geo ? @user.geo.name : "还没选择" %></strong></p>
            <p class="center">&raquo; <%= link_to (@user.geo ? "我搬家了" : "选择我的居住地"), user_url(@user, :for => "move"), :method => :put %> &laquo;</p>
            
            <div class="tips">
              <h6>小贴士</h6>
              <p>选择你居住的城市，可以加入同城活动，认识身边的朋友。</p>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>