<% @page_title = "所有#{@user.login}发起的活动" %>



<% content_for :sidebar do -%>
  <div class="cleanfix" style="clear:both;height:20px"></div> 
<span class="remark"><%= link_to raw("&raquo; 回到#{@user.login}的空间"),user_url(@user)%></span>
<% end %>

<div class="box">
     <h3>所有<%=@user.login-%>发起的活动</h3>
      <div class="contents">
      <%= render :partial => "public/activity", :collection => @activities%>
      <%= customize_paginate @activities %>
      </div>
</div>
