<div class="newbox">
  <h1>设计一公斤盒子</h1>
  <p>要怎么怎么做呢balabalabalabala</p>
  <h3><%= link_to '立即设计',new_box_path %></h3>
</div>

<div class="newbox">
  <h4>现有盒子<h4>
  <%= render :partial => "/shared/box", :collection => @boxes %>
</div>

<div class="newbox">
  <h4>优秀设计<h4>
  <%= render :partial => "/shared/box", :collection => @designs %>
</div>

<% content_for :sidebar do -%>
  <h4><%= link_to '我要申请',apply_boxes_path%></h4>
<% end %>
