<% @page_title = "全部的一公斤盒子申请" -%>
<% content_for :heads do -%>
<% end %>

<% content_for :sidebar do -%>
  <div class="cleanfix" style="clear:both;height:20px"></div> 
  <span class="remark"><%= link_to "&raquo;  回到一公斤盒子",boxes_path %></span>
<% end -%>

<h3>全部申请</h3>
<%= render :partial => "/public/execution", :collection => @executions %>
