
  <div class="newbox">
    <h3>全部照片： <%= link_to '添加照片',feedback_boxes_path(:feedback_type => 'photo'),:class => 'buttonlink'%></h3> 
    <%= render :partial => "/photos/gallery", :collection => @photos,:locals => {:no_title => true}%>
    <div class="cleanfix" style="clear:both;"></div>
      <div class="contents"><p><%= will_paginate @photos %></p></div>
  </div>
