  <div class="activity_list">
    <%= topic_photo_thumb(activity) -%>       
    <div class="activity_list_meta">
    <h5><%= link_to h(activity.title), activity_path(activity)%></h5>
    <p>开始日期: <%= activity.start_at.to_date %>  结束日期：  <%= activity.end_at.to_date %></p>
    </div>
    <div class="clearfix"></div>
  </div>