<!-- adlist is a hash(url&img) list for ads --> 
<% adlist =
[{'url'=>'/minisite/kuailebox','img'=>'/images/ad/kuailebox.jpg'},
{url'=>'/minisite/postcard','img'=>'/images/ad/postcard.jpg'},
 {'url'=>'/minisite/lightenschool','img'=>'/images/ad/lightenschool.jpg'}] %>

<% random = adlist[rand(adlist.length)] %>

<div class="ad">
<a href="<%= random['url'] -%>"><img src="<%= random['img'] -%>" height="176px" width="290px"></img></a>
</div>
