<!-- adlist is a hash(url&img) list for ads --> 
<% adlist =
[{'url'=>'/ministie/mooncake','img'=>'/images/ad/mooncake.jpg'},
 {'url'=>'/ministie/postcard','img'=>'/images/ad/postcard.jpg'},
 {'url'=>'/ministie/lightenschool','img'=>'/images/ad/lightenschool.jpg'}] %>

<% random = adlist[rand(adlist.length)] %>

<div class="ad">
<a href="<%= random['url'] -%>"><img src="<%= random['img'] -%>" height="176px" width="290px"></img></a>
</div>