<% a = rand(3) %>
<div class="ad">
<% if a == 0 %>
<a href="/minisite/mooncake"><img src="/images/ad/mooncake.jpg" height="176px" width="290px"></img></a>
<% elsif a == 1 %>
<a href="/minisite/postcard"><img src="/images/ad/postcard.jpg" height="176px" width="290px"></img></a>
<% elsif a == 2 %>
<a href="/minisite/lightenschool"><img src="/images/ad/lightenschool.jpg" height="176px" width="290px"></img></a>
<% end %>
</div>