<div class="onekg_box">
  <div class="project_image_frame">
    <%= link_to (image_tag (box.image(:box_avatar)),:class => "project_image"),box_path(box) %>
  </div>

  <div style="margin-left:86px">
    <h4><%= link_to box.name,box_path(box) %></h4>
    <p><%= short_text(box.detail,50) %></p>
  </div>
</div>
