<div class="requirement">
    <div class="project_image_frame">
        <img class="project_image" src="<%= donation_activity.image.url(:medium) %>"/>
    </div>
    <div>
        <h5><%= link_to donation_activity.goods_name, donation_activity %></h5>
        <span><%= [donation_activity.number] %></span>
    </div>
    <div style="clear:both"></div>
</div>