<% if following.followable.is_a?(School) %>
  <%= render :partial => '/shared/school', :object => following.followable %>
<% elsif following.followable.is_a?(User) %>
  <div class="contents clearfix">
    <dl class="user">
      <dt><%= link_to image_tag(following.followable.avatar.url,:alt => following.followable.login), user_url(following.followable) %></dt>
      <dd><%= link_to following.followable.login, user_url(following.followable) %></dd>
    </dl>
  </div>
<% end %>