<% if following.followable.is_a?(School) %>
  <%= render :partial => '/shared/school', :object => following.followable %>
<% elsif following.followable.is_a?(User) %>
  <div class="contents clearfix">
    <dl class="user">
      <dt><%= link_to avatar_for(following.followable, "large"), user_url(following.followable) %></dt>
      <dd><%= link_to following.followable.login, user_url(following.followable) %></dd>
    </dl>
  </div>
<% end %>