<div id="footer">
  <div class="wrapper">
  <% @page = Page.find_by_slug('footer') -%>
  <%= render :text => @page.body if @page %>
    <div style="color:#666;margin:4px">
    <span>多背一公斤网站由 <%= link_to "joyent云平台","http://www.joyent.com.cn" %> 提供支持 ，由 <%= link_to "监控宝","http://www.jiankongbao.com"%> 提供网站监控服务。</span>
    </div>
  </div>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-1030835-3");
pageTracker._trackPageview();
} catch(err) {}</script>