<div id="footer">
	<%#= link_to "多背一公斤", about_url %> &copy; 2004-2008 - <%#= link_to "关于", about_url %> - <%#= link_to  "站务客服", group_url(1) %> - <%#= link_to "免责声明", terms_url %> - <%#= link_to "常见问题", faq_url %> - <a href="http://bbs.1kg.org" target="_blank">论坛</a> - <a href="http://1kg.blogbus.com" target="_blank">博客</a>
</div>