<div class="photo_frame">
    <div class="photo">
      <%= link_to image_tag(photo.image.url, :alt => photo.title), (photo.photoable)%>
    </div>
    <div class="photo_meta">
      <div class="photo_from">
      <%= link_to photo.photoable.name,photo.photoable if photo.photoable %>
      </div>
    </div>
</div>
