<div class="photo_frame">
    <div class="photo"><%= link_to image_tag(photo.public_filename(:thumb), :alt => photo.title), photo.public_filename(:medium), 
        :rel => "prettyPhoto[gallery]"  %>
    </div>
    <div class="photo_meta">
      <div class="photo_from">
      <%if photo.school_id%><%= link_to photo.school.title, school_url(photo.school) %><br/><%end%>
      <%if photo.activity_id%><%= link_to photo.activity.title, activity_url(photo.activity)%><%end%>
      </div>
    </div>
</div>