<div class="project">
    <div class="project_image_frame">
        <img class="project_image" src="<%= project.image.url(:thumb) %>"/>
    </div>
    <div class="project_meta">
        <h5><%= link_to project.title,project_url(project)%></h5>
        <%= project.description.gsub('</br>', '\n').gsub(/<.*?>/, '').mb_chars.slice(0..50)%>...
    </div>
    <div style="clear:both"></div>
</div>