<div class="requirement">
    <div class="project_image_frame">
        <img class="project_image" src="<%= sub_project.project.image.url(:thumb) %>"/>
    </div>
    <div>
        <h5><%= link_to short_title(sub_project.project,10), school_requirement_path(sub_project.school, sub_project)%></h5>
        <% if logged_in? && sub_project.user == current_user -%>
          <span><%= link_to "填写反馈", edit_school_requirement_url(sub_project.school, sub_project) ,:class => "adminbutton"%>
          </span>
        <% else %>
          <span><%= ['已完成','进行中','申请中'][sub_project.status.to_i]%></span>
        <% end -%>
    </div>
    <div style="clear:both"></div>
</div>