<% users.each do |c| -%>
<dl class="user">
  <dt><%= link_to avatar_for(c, "large"), user_url(c) %></dt>
  <dd><%= link_to c.login, user_url(c) %><br /> <%= check_box_tag "invite[#{c.id}]", c.id %></dd>
</dl>
<% end -%>
<div style="clear:both;height:20px"></div>  
<p>
   <a href="javascript:void(0);" onclick="CheckAll(true)">全选</a> / <a href="javascript:void(0);" onclick="CheckAll(false)">全不选</a> 
  <%= submit_tag "发送邀请",:class => "surebutton" %>
</p>
<div style="clear:both;height:20px"></div>  