<div class="newbox">
      <span class="span_title">推荐此帖子的用户</span>
      <div class="clearfix" style="height:10px"></div>
      <%= render :partial => "/shared/user_list", :locals => {:users => voters} %>
</div>