<div class="box" id="vote_list">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>推荐此攻略的用户</h3>
      <%= render :partial => "/shared/user_list", :locals => {:users => voters} %>
    </div>
  </div>
</div>