<% @page_title = "城市讨论区" -%>

<% content_for :sidebar do -%>
<% end -%>

<div class="setting">
  <div class="block">
    <h3>创建 <%= @geo.name %> 的讨论区</h3>
    <p class="note">点击“创建”发布一个城市讨论区</p>
    <% form_for :city_board, :url => admin_boards_url(:type => "city") do |f| -%>
    <%= f.hidden_field :geo_id, :value => @geo.id %>
    <p><label>介绍</label><%= f.text_area :description, :cols => 30, :rows => 10 %></p>
    <p><label>&nbsp;</label><%= submit_tag "创 建" %></p>
    <% end -%>
  </div>
</div>
