<% @page_title = @title = "公益项目" %>

<div class="newbox">
      <span class="span_title">可参与的公益项目</span>
      <div style="clear:both;height:20px">
      </div>
        <%= render :partial =>"/shared/project" ,:collection => @validated_projects%>
</div>
