<% content_for :heads do -%>
<style type="text/css">
  .goods_list{margin-right:68px;-margin-right:40px;}
  .school_list_photo img{height:68px;}
  .school_list_photo{width:92px}
  .school_meta{width:170px}
  #misc {padding:4em 0;width:960px;clear:both;text-align:center;font-size:13px;line-height:26px;}
  #misc img {margin:0 4px;}
  #misc span {position:relative;top:-20px;}
  #partners {float:right;width:160px}
  #partners img{border:1px #ddd solid}
  #donationg {background-color:#fdf2d5;padding:0 8px 8px;margin:16px 0 4px;border:1px #f4d5b9 solid}

</style>
<% end -%>

<% @page_title = "积分献爱，举手之劳！" -%>



<% content_for :fullsize do -%>


  <img src="/images/point/title.png" />
  <div class="clearfix" style="clear:both;height:20px"></div>
  
  <div id="partners">
 <h3>合作商家</h3>
  <div style="height:10px;width:100%"></div>
  <%= link_to image_tag("/images/partners/elong.gif"),"http://www.elong.com"%>
  <%= image_tag("/images/partners/etpass.gif")%>
  <%= link_to image_tag("/images/partners/welcome.png"),"http://www.1kg.org/misc/bepartner"%>
  </div>  
      
  <div class="newbox" style="width:780px;float:left">
 <h3>公益物资</h3>
      <div class="clearfix" style="height:5px"></div>
      <%= render :partial => "/public/goods", :collection => RequirementType.exchangable.last5,:locals => {:with_list => true} %>
  </div>
      
<div id="misc">
<p><span >项目支持 :</span> <a href="http://www.fupin.org.cn" target="_blank" title="扶贫基金会"><img src="/images/partners/fupin.jpg"></a></p>
  <p>发起方：多背一公斤公益网站　　主办方：爱聚（北京）咨询有限公司 </p>
</div>

<% end %>
