<% content_for :heads do -%>
<%= stylesheet_link_tag 'points'%>

<% end -%>

<% @page_title = "积分献爱，举手之劳！" -%>

<% content_for :crumb do -%>
<li>积分献爱</li>
<% end -%>

<% content_for :sidebar do -%>

<div class="newbox" style="height:320px">
  <img src="/images/point/logo.png" />

</div>
<% end %>

  <img src="/images/point/title.png" />

  <div class="newbox">
  <span class="span_title">公益物资</span>
  <% RequirementType.exchangable.last5.each do |t| %>
      <div class="goods_list">
      <a href="#" class="goods_photo_frame"><img src="<%= t.image.url(:thumb) %>"/></a>
      <div class="goods_description"><%= t.description_html %></div>
      </div>
  <% end %>
  </div>
      
  <div class="newbox">
    <span class="span_title">学校列表</span>
    <% unless @requirements.blank? -%>
      <%= render :partial => "/shared/requirements", :object => @requirements %>
    <% end -%>
  </div>


  <div class="newbox">
    <span class="span_title">合作商家</span>
      <p><img src="/images/kuailebox/kuaileboxlogo.png"></p>
      <p><img src="/images/mooncake/sitlogo.gif"></p>
  </div>

