<div class="boxouter">
  <h3>学校列表</h3>
  <div class="boxinter">
  <% unless @requirements.blank? -%>
    <%= render :partial => "/shared/requirements", :object => @requirements %>
  <% end -%>
  </div>
</div>

<div class="boxouter">
  <h3>小组讨论</h3>
  <div class="boxinter">
    <p style="text-align:right"><%= link_to "进入小组", '#', :target => "_blank",:class => "buttonlink" %></p>
  </div>
</div>
