<% content_for :heads do -%>
<% end -%>

<% @page_title = "积分献爱，举手之劳！" -%>

<% content_for :crumb do -%>
<li>积分献爱</li>
<% end -%>

<% content_for :sidebar do -%>

<div style="display:block; clear:both">
    <div style="text-align:center"><img src="/images/point/logo.png" />
      <p>此处为积分献爱计划的文字说明，需要安提供</p>
      <p>步骤一</p>
      <p>步骤二</p>    
    </div>
    <p style="margin-top:20px;"><%= image_tag("/images/point/flow.png") %></p>
</div>

<% end %>


  <div class="newbox">
  <span class="span_title">积分可兑换物资</span>
  <% RequirementType.exchangable.last5.each do |t| %>
    <div class="boxinter">
    <dl class="book">
      <dt><a href="#"><img src="<%= t.image.url(:thumb) %>" width="100" /></a></dt>
      <dd><a href='#'><%= t.title %></a></dd>
    </dl>
    </div>
  <% end %>
  </div>
      
  <div class="newbox">
    <span class="span_title">学校列表</span>
    <div class="boxinter">
    <% unless @requirements.blank? -%>
      <%= render :partial => "/shared/requirements", :object => @requirements %>
    <% end -%>
    </div>
  </div>


  <div class="newbox">
    <span class="span_title">合作商家</span>
    <div class="boxinter">
      <p><img src="/images/kuailebox/kuaileboxlogo.png"></p>
      <p><img src="/images/mooncake/sitlogo.gif"></p>
    </div>
  </div>