<div class="game_category" style="padding:15px;border:1px dashed #aaa;width:130px;height:130px;float:left;margin:15px">
  <div style="position:relative;top:120px;text-align:right">已有 x 个游戏</div>
  <h6><%= link_to category[1],"/games/category/#{category[0]}"%></h6>
  <p><br/>这部分需要图片代替</p>
  
</div>