<div class="game_category">
  <div style="position:relative;top:120px;text-align:right">已有 <%= category.games.size%> 个课程</div>
  <br/><br/>
 <h3><%= link_to category.name,category_games_path(category.slug) %></h3>
</div>