<div class="clearfix" style="height:10px"></div>
<span class="span_title2">所有游戏分类</span>
<div style="line-height:24px">
<% GameCategory.all.each do |category| %>
<%= link_to category.name,category_games_path(category.slug) %>　
<% end %>
</div>