<div class="game_category">
  <div style="position:relative;top:120px;text-align:right">已有 <%= category.games.size%> 个游戏</div>
  <br/><br/>
  <span class="span_title"><%= link_to category.name,category_games_path(category.slug) %></span>
</div>