<div class="game_category" style="padding:15px;border:1px dashed #aaa;width:130px;height:130px;float:left;margin:15px;text-align:center">
  <div style="position:relative;top:120px;text-align:right">已有 <%= Game.find(:all,:conditions => {:category => category}).size%> 个游戏</div>
  <br/><br/>
  <span class="span_title"><%= link_to category,"/games/category/#{category}"%></span>
  
</div>