<p>
  <label class="label" >名称</label>
  <%= text_field_tag "game[references_attributes][][name]", reference.name, :class => "formText" %>
  <%= check_box_tag "game[references_attributes][][_delete]", '1', false %> 删除
</p>

<p>
  <label class="label" >链接</label>
  <%= text_field_tag "game[references_attributes][][link]", reference.link, :size => 80, :class => "formText" %>
  <%= hidden_field_tag "game[references_attributes][][id]", reference.id %>
</p>
