<% @page_title = "游戏" -%>

<% content_for :crumb do -%>
<li>游戏</li>
<% end -%>

<% content_for :fullsize do -%>
<div class="newbox">
  <h1>游戏库</h1>
  <div style="float:right;padding:15px;width:220px;height:60px;background: #494;color:#fff;font-size:13px;text-align:center;margin-right:20px">你可以做什么？<br/>1. 和大家一起创造和补充游戏内容<br/>2.在探访学校中把游戏带给孩子们</div>
  <div style="color:#666;width:480px;font-size:14px;line-height:24px">游戏库是各类游戏的集合地。包含日常生活中的游戏、激发梦想的游戏和教育类游戏。游戏库的游戏来自大家的创作，并通过出行的同学和当地的老师传播到学校，与孩子们分享知识和快乐。目前游戏库正在公测中，很多地方还很需要继续改进，去  <a href="#">游戏库小组</a> 把你的意见告诉我们吧。</div>
</div>
 <%= render :partial => 'category' ,:collection => @categories%>

  
<% end %>

