<% @page_title = "游戏" -%>

<% content_for :crumb do -%>
<li>游戏</li>
<% end -%>

<% content_for :fullsize do -%>
 <%= render :partial => 'category' ,:collection => @categories%>

<% end %>
<% if false%>
<% content_for :sidebar do -%>
  <%= render :partial => '/searches/search_box' %>
<% end -%>

<div class="newbox">
  
  <span class="span_title">最新游戏</span>
  <div class="clearfix" style="height:10px"></div>
  <%= render :partial => "games", :object => @games %>
</div>
<% end %>