<% @page_title = "给孩子们上一堂课" -%>

<% content_for :crumb do -%>
<li>给孩子们上一堂课</li>
<% end -%>

<% content_for :fullsize do -%>
<div class="newbox">
  <h1>给孩子们上一堂课</h1>
  <div style="float:right;padding:15px;width:220px;height:60px;background: #494;color:#fff;font-size:13px;text-align:center;margin-right:20px"><span style="font:14px;font-weight:bold">你可以做什么？</span><br/>1. 和大家一起创造和补充课程内容<br/>2. 在探访学校中把课程带给孩子们</div>
  <div style="color:#666;width:500px;font-size:13px;line-height:24px">
  这里是各种课程的集合地。每个人都可以自由的创作或转载课程，积少成多，大家就有了一个课程库。这些课程可以通过出行的同学和当地的老师传播到学校，与孩子们分享知识和快乐。目前"给孩子们上一堂课"正在公测中，很多地方还很需要继续修改，无论你有什么问题或者建议，就去
  <a href="http://www.1kg.org/groups/322">给孩子们上一堂课小组</a> 告诉我们吧。</div>
</div>
 <%= render :partial => 'category' ,:collection => @categories%>

<div style="clear:both;height:20px"></div>
<% end %>
