  <div class="school_list" style="border-bottom:1px solid #ddd;padding-bottom:4px">
    <%= main_photo_thumb(sub_project.school) -%>       
    <div class="school_list_meta" style="width:170px">
      <h5><%= link_to h(sub_project.school.title), project_sub_project_path(sub_project,sub_project)%></h5>
      <%= link_to ['已完成','进行中','申请中'][sub_project.status.to_i],project_sub_project_path(sub_project,sub_project),:class => "project_status",:style => "border:1px solid ##{['aaccff','aaff88','ffe099'][sub_project.status.to_i]};background-color:##{['99aadd','99dd66','ffcc66'][sub_project.status.to_i]}"%>
      <br/><span class="gary_span"><%= sub_project.created_at.to_date%> 申请</span>
    </div>
    <div class="clearfix"></div>
  </div>