<% @page_title = @title = "创建公益项目" -%>



<% content_for :sidebar do -%>
<% @page = Page.find_by_slug('project-guide') -%>
  <%if @page%>
  <div class="newbox">
    <h3>公益项目说明</h3>
      <div class="clearfix" style="margin-bottom:10px"></div>
     <%= render :text => @page.body %>
  </div>
  <%end%>
<% end -%>


<div class="newbox" id="activitiesPostNew">
  <div class="clearfix" style="height:10px"></div>
  <% form_for :project, :url => projects_path, :html => {:multipart => true} do |f| -%>
    <%= render :partial => "form", :object => f %>
    <%= f.submit "确认" ,:class => "surebutton"%> <%= f.submit "取消" ,:class => "surebutton",:onclick =>"javascript:window.location='#{projects_url}';return false" %>
  <% end -%>
</div>
