<% @page_title = @title = "#{h @project.title}的论坛" -%>

<div class="box">
        <%= render :partial => "/public/share", :collection => @topics %>
      <div class="contents"><p><%= will_paginate @topics %></p></div>
</div>

<% content_for :sidebar do -%>
  <p>&raquo; <%= link_to "返回学校页面", project_url(@project) %></p>
<% end -%>
