<ul class="tab">
  <% [["已验证学校", "validated"], ["未验证", "suspend"], ["回收站", "trash"]].each do |type| -%>
    <li class="<%= @type==type[1] ? "current" : "" %>"><%= link_to type[0], admin_schools_url(:type => type[1]) %></li>
  <% end -%>
</ul>