<% @page_title = @title = %(需要"#{@tag}"的学校) %>

<% content_for :sidebar do -%>  
  <%= render :partial => "schools", :locals => {:schools => @schools} %>
<% end -%>

<% unless @schools.empty? %>
<div class="newbox">
  <div class="clearfix" style="height:10px"></div>
  <div class="contents">
    <%= render :partial => '/tags/map' %>
    <%= render :partial => 'schools', :object => @schools %>
    <%= customize_paginate(@schools, :param_name => 'school_page') %>
  </div>
  <div class="clearfix" style="height:10px;clear:both"> </div>
</div>
<% end %>