<% @page_title = "#{@city.name}的居民" -%>

<% content_for :sidebar do -%>
<p>&raquo; <%= link_to "返回#{@city.name}同城", board_url(@city.city_board.board) %></p>
<% end -%>

<h2 class="title"><%= @page_title %></h2>

<div class="box" id="cityLatestMembers">
  <div class="boxOuter">
    <div class="boxInner">
      <h3></h3>
      <%= render :partial => "/shared/user_list", :locals => {:users => @users} %>
    </div>
  </div>
</div>