<% @page_title = "#{@city.name}的居民" -%>

<% content_for :sidebar do -%>
<% end -%>

<h2 class="title"><%= @page_title %></h2>

<div class="box" id="cityLatestMembers">
  <div class="boxOuter">
    <div class="boxInner">
      <h3></h3>
      <ul class="clearfix"><li><%= @users.collect {|c| link_to "<div>#{avatar_for(c, "large")}</div><div style=\"text-align:center\">#{c.login}</div>", user_url(c.id)}.join("</li><li>") %></li></ul>
      <div class="clear"><!-- --></div>
    </div>
  </div>
</div>