<% @page_title = "#{@city.name}周边的学校" -%>

<% content_for :crumb do -%>
<li><%= link_to "#{@city.name}同城", board_url(@board) %>
<ul>
  <li><%= @page_title %></li>
</ul>
</li>
<% end -%>

<% content_for :sidebar do -%>
<%= render :partial => "/schools/submit" %>
<% end -%>

<%= render :partial => "/schools/schools", :object => @schools, :locals => {:title => @page_title} %>


