<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>选择省份</h3>
      <div class="contents">
        <% provinces.each do |province| -%>
          <%= link_to_function province.name, "provinceClickFn(new GLatLng(#{province.latitude.to_f}, #{province.longitude.to_f}), #{province.id})", :style => "font-size:14px" %>
        <% end -%>
      </div>
      <p class="remark">&raquo; <%= link_to "查看全部学校", all_schools_url %></p>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  // zoom map to the province user choosed, and update school lists
  function provinceClickFn(latlng, id)
  {
    map.setCenter(latlng, 7);
    jQuery.get('/geos/' + id + '/schools', {}, function(data){
      jQuery('#schools').html(data);
    });
  }
</script>