<div class="newbox" id="search-front" style="width:280px">
      <h4>需求搜索</h4>
      <div class="contents">
        <% form_tag '/tags', :method => 'get' do %>
          <input type="text" name="tag" size="25" class="form-text" value="录音机、书包、文具..." onclick="jQuery(this).val('');return false;" />
          <input type="submit" name="sa" value="搜索" class="form-submit" />
        <% end %>
        <br />
        <% tag_cloud tags, %w(tag1 tag2 tag3 tag4) do |tag, css_class| %>
          <%= link_to tag.name, tag_path(tag.name), :class => css_class %>
        <% end %>
      </div>
      <p class="remark"> <%= link_to raw("&raquo; 所有需求"), '/tags/needs' %></p>
</div>
