<% photos.each do |p| %>
<dl class="obp">
  <dt><%= link_to image_tag(p.public_filename(:thumb)), photo_url(p), :target => "_blank" %></dt>
  <dd>
    <%= link_to p.school.title, school_url(p.school) %>
    <span><%= link_to p.user.login, user_url(p.user) %></span>
  </dd>
</dl>
<% end -%>