<table id="schoolsLatest">
  <thead>
    <tr>
      <th>校名</th>
      <th> 学校活跃度</th>
      <th>学校大使</th>
    </tr>
  </thead>
  <tbody>
    <% schools.each do |school| -%>
    <% managers = school.managers %>
    <% next if school.nil? %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= link_to school.title, school_url(school) %></td>
      <td><%= karma_star(school.karma)-%> </td>
      <td><%= "#{manager[0,2].map{|u| link_to(u.login, user_url(u)) + ' '}} #{'...' if envoys[2]}" %></td>
    </tr>
    <% end -%>
  </tbody>
</table>