<div class="school-steps">
  <ol class="clearfix">
    <li class="first <%= 'current' if @step == 'basic' %>"> 编辑学校基本信息</li>
    <li class="middle <%= 'current' if @step == 'traffic' %>"> 编辑交通信息</li>
    <li class="middle <%= 'current' if @step == 'need' %>"> 编辑学校需求</li>
    <li class="last <%= 'current' if @step == 'other' %>"> 编辑收集人信息<span class="hook"></span></li>
  </ol>
</div>