<table id="schoolsLatest">
  <thead>
    <tr>
      <th>校名</th>
      <th>活跃度</th>
      <th>学校大使</th>
    </tr>
  </thead>
  <tbody>
    <% schools.each do |school| -%>

    <% next if school.nil? %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= link_to school.title, school_url(school) %></td>
      <td><%= school.karma %></td>
      <td><%= link_to school.user.login, user_url(school.user) unless school.user.nil? %></td>

    </tr>
    <% end -%>
  </tbody>
</table>