<% step_list = [['basic','学校基本信息'],['traffic','学校交通信息'],['need','学校需求'],['other','收集人信息'],['mainphoto','学校主照片']]%>

<div id="school-steps" class="clearfix">
  <ol >
    <% step_list.each do |l|%>
    <li <%if step == l[0] %> class="current" <%elsif defined?(new)%>  <%else%> onclick='javascript:window.location="<%= "/schools/#{@school.id}/edit?step=#{l[0]}"%>"' class="select_step"  <%end%>  > <%= l[1]%></li>
    <% end -%>
  </ol>
</div>