<ul class="tab">
  <% [["基本信息", "basic"], ["交通信息", "traffic"], ["学校需求", "need"], ["当地情况", "local"], ["联系人", "contact"]].each do |type| -%>
    <li class="<%= @type==type[1] ? "current" : "" %>"><%= link_to type[0], info_school_url(@school, :type => type[1]) %></li>
  <% end -%>
</ul>