<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3></h3>
      <div class="contents">
        &raquo; 出行前请下载打印 <a href="/school_info.xls">学校信息收集表</a><br />
        <p>&raquo; 帮助完善学校信息 <%= link_to "浏览所有待验证学校", unconfirm_schools_url %></p>
      </div>
    </div>
  </div>
</div>