<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3></h3>

      <p class="remark clearfix" style="text-align:left;"><span class="btnWrap" style="float:left"><%= link_to "提交新学校", new_school_url(:step => 'basic') %></span></p>
      <div class="contents">
        &raquo; 出行前请下载打印 <a href="/school_info.xls">学校信息收集表</a>
      </div>
    </div>
  </div>
</div>