<% @page_title = @title = "学校话题" -%>

<% content_for :sidebar do -%>
<p>&raquo; <%= link_to "返回学校首页", schools_url %></p>
<% end -%>

<div class="box">
        <%= render :partial => "/public/topic", :collection => @comments %>
        <%= customize_paginate @comments %>
      </div>
    </div>
  </div>
</div>