<% @title = @page_title = "学校论坛的所有帖子" %>

      <div class="contents">
        <%= render :partial => "public/share", :collection => @shares %>
        <%= customize_paginate @shares %>
      </div>

<% content_for :sidebar do -%>
  <p>&raquo; <%= link_to "返回学校频道", schools_url %></p>
<% end -%>