<fieldset>
  <legend>上传新图片</legend>
  <div>
    <%= upload_button('upload_container', photo_upload_path_with_session) if false%>
      <p><label class="label">选择照片</label> <%= file_field :photo, :uploaded_data %></p>
      <span style="margin-left:80px;color:#666">建议图片宽度不要大于580像素，文件大小不超过500kb。</span>
      <p style="margin-left:50px"><%= submit_tag "上 传";:style => 100px %></p>
  </div>
</fieldset>
<fieldset>
  <legend>可用图片</legend>
  <div id="upload_container"></div>
  <div id="photos" class="clearfix">  
    <% @photos.each do |p| %>
    <p style="float:left; padding: 10px;margin:0;width: 62px; height:62px;"><%= link_to image_tag(p.public_filename(:thumb), :alt => p.title, :border => '0', :width => '62'), '#', :onclick => "ImageDialog.ts_insert_image('#{p.public_filename(:medium)}');" %>
    </p>
    <% end -%>
  </div>
</fieldset>
