<p style="float:left; padding: 10px;margin:0; width: 62px; height:62px;"><%= link_to image_tag(@photo.image.url, :alt => @photo.title, :border => '0', :width => '62'), '#', :onclick => "ts_insert_image('#{@photo.image.url(:max565x420)}');"  %>
</p>