<% @page_title = "微幸福教室"  -%>

<% content_for :heads do -%>
<link type="text/css" rel="stylesheet" href="/stylesheets/kuailebox.css" media="screen, projection" />
<style>
#toys{text-align:center}
#toys img{padding:3px;border:1px solid #ddd}
</style>
<% end -%>

<% content_for :fullsize do -%>
<img src="/images/weixingfu/banner.jpg" alt="<%= @page_title%>" style="margin:10px;" />

<div class="lcolumn">
   
  <div class="newbox" style="font-size:13px">
    <h5>活动介绍</h5>
      <p>如果你马上就要踏上乡村学校/打工子弟学校/特殊教育学校之旅
        <br/>却正在发愁送给孩子们什么礼物才好
        <br/>如果你担心再不展示你的心灵手巧就要变老
        <br/>不要犹豫，马上参加我们的"DIY玩具"免费申请活动
        <br/>让我们陪孩子们一起DIY五彩的童年
      </p>
      想要报名？<a href="http://www.1kg.org/activities/103783">立即去报名贴</a>
  </div>
  
  <div class="newbox">
    <h5>活动学校</h5>
    <span>接受报名中..</span>
  </div>
  
  <div class="newbox">
    <h5>讨论区</h5>
      <%= render :partial => "/topics/topics", :locals => {:topics => @group.topics } %>
      <p style="text-align:right"><%= link_to "进入小组",group_url(@group), :target => "_blank",:class => "buttonlink" %></p>
    </div>

</div>  
<div class="rcolumn">
    <h5>活动时间&参与方式</h5>
    <p>即日起至2012年，每月在报名者中挑选4组符合条件的志愿者或团队获得由趣玩微幸福寄出的玩具 。</p>
    <p>
      参与方式：
      <br/>1. 计划走访乡村学校/打工子弟学校/特殊教育学校的志愿者均可申请参加 
      <br/>2. 登录 趣玩网站 免费挑选DIY玩具30—50个，总价值约500元； 
      <br/>3. 将你设计的走访计划、玩具清单、真实个人信息发送到 anlan@1kg.org ，我们将审核并发放玩具；（具体见报名页面） 
      <br/>4. 通过审核的志愿者，可在走访时将玩具带到学校和孩子一起完成手工玩具的制作； 
      <br/>5. 最后将与孩子们做手工的欢乐时光在多背一公斤网上分享。
    </p>
    <p>
      申请流程：
      <br/>1. 申请时间：在每月30日前提交下个月走访计划
      <br/>2. 审核时间：当月1日～10日完成审核并发放玩具
      <br/>3. 走访时间：志愿者在收到玩具后可开展一个月内完成走访并在下个月10日前完成反馈
    </p>
</div>  
  
  <br/>
  <div class="clear" id="toys">
    <div class="title_line"><h5 style="color:#999">玩具照片</h5></div>
    <img src='/images/weixingfu/diy麦兜.jpg'/>
    <img src='/images/weixingfu/diy油画招财筒子.jpg'/>
    <img src='/images/weixingfu/笔袋.jpg'/>
    <img src='/images/weixingfu/太阳能6合1.jpg'/>
    <img src='/images/weixingfu/万年历.jpg'/>
  </div>

<% end %>
