<% @page_title = "编辑我的回复" -%>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>编辑回帖</h3>
      <div class="contents">
        <% form_for :post, :url => board_topic_post_url(@topic.board_id, @topic, @post), :html => {:method => :put} do -%>
          <%= render :partial => "form" %>
          <p class="submit clearfix"><span class="btnWrap"><%= submit_tag "改好了，保存" %></span> 或 <%= link_to "返回", board_topic_url(@topic.board_id, @topic) %></p>
        <% end -%>
      </div>
    </div>
  </div>
</div>