<% @page_title = "我的城市" -%>

<div class="box" id="cityList">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>同城 - <%= @city ? @city.name : "全国" %></h3>
      <div class="tips">
        <h4>请选择你居住的城市</h4>
      </div>
      <div class="contents" style="font-size:14px">
        <ul class="clearfix"><li><%= @cities.collect {|c| link_to "#{c.name}", my_city_url(:geo => c.id)}.join("</li><li>") -%></li></ul>
      </div>
      <% if @city -%>
      <p class="remark"><%= link_to "返回上一级城市", my_city_url(:geo => (@city.parent.id if @city.parent)) %></p>
      <% end -%>
    </div>
  </div>
</div>