<% content_for :fullsize do -%>
<h1>关于 <%= params[:q] %> 的搜索结果</h1>
  <div class="contents">
    <div id="cse-search-results"></div>
      <div id="cse" style="width: 100%;">Loading</div>
      <script src="http://www.google.com/jsapi" type="text/javascript"></script>
      <script type="text/javascript">
        google.load('search', '1', {language : 'zh-CN'});
        google.setOnLoadCallback(function(){
          var customSearchControl = new google.search.CustomSearchControl('010156014000291788432:m4wc1kqvzw4');
          customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
          customSearchControl.draw('cse');
          customSearchControl.execute("<%= params[:q] %>");
        }, true);
      </script>
      <link rel="stylesheet" href="http://www.google.com/cse/style/look/greensky.css" type="text/css" />
    </div>
  </div>
</div>
<% end -%>