<% content_for :heads do -%>
  <style type="text/css">
  .hot{float:left}
  .hot img{height:68px;}
  .hot .school_list_photo{width:92px}
  .hot_box{width:620px;padding:0 10px ;margin-bottom:10px;border-bottom:1px #ccc dashed;color:#888}
  </style>
<% end %>

<% content_for :sidebar do -%>

  <% unless @bulletins.blank? -%>
  <div class="newbox">
   <h3>公告</h3>
    
    <% @bulletins.each do |b| %>
      <p style="padding-bottom:4px;margin-bottom:6px;border-bottom:1px #d0d0d0 solid"><%= link_to b.title, bulletin_url(b) %></p>
    <% end %>
    <p class="remark"><%= link_to "&raquo;  查看全部", bulletins_url %></p>
  </div>
  <% end -%>

  <div id="records" class="newbox">
    <div id="record_tabs">
        <h3>用户动态</h3>
          <ul class="tab">
              <li class="tabs_more"><a href="#wannas">要去</a></li>
              <li class="tabs_more"><a href="#visiteds">去过</a></li>
          </ul>
          <div class="clearfix" style="height:10px;clear:both"> </div>
          <div id="wannas">
            <%= render :partial => "/public/record", :collection => @wannas,:locals => {:school => nil} %>
          </div>
          <div id="visiteds">
            <%= render :partial => "/public/record", :collection => @visits,:locals => {:school => nil} %>
          </div>
          <div class="cleanfix"></div>
    </div>
    <script type="text/javascript">
            jQuery("#record_tabs").tabs()
        </script>
  </div>
<% end -%>

<div class="cleanfix" style="clear:both;height:20px"></div>


