<h2>多背一公斤是一种旅行方式。</h2>
<h3>它以一种轻松快乐的方式，让旅行者在旅途中探访乡村学校，传递爱心和知识，同时为自己的旅程增添意义。</h3>
<% content_for :sidebar do -%>

  <% unless logged_in? -%>
  <div class="box">
    <%= render :partial => "/public/login" %>
  </div>
  <% end -%>

  <div class="box">
    <h3>公告</h3>
    <% @bulletins.each do |b| %>
    <p style="padding-bottom:4px;margin-bottom:6px;border-bottom:1px #d0d0d0 solid"><%= link_to b.title, bulletin_url(b) %></p>
    <% end %>
    <p class="remark"><%= link_to raw("&raquo; 更早的"), bulletins_url %></p>
  </div>

<% end %>

