<div class="box" id="intro">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>你是<%= @city.name %>的第一位居民!</h3>
      <div class="contents">
        <p><%= link_to "马上入住", @redirect_url, :class => "joinNow" %></p>
      </div>
    </div>
  </div>
</div>