<% @body_class = "home" -%>

<% content_for :sidebar do -%>
<%= render :partial => "/shared/current_user_profile" %>

<%#= render :partial => "/shared/blog" %>   

<div class="box" id="newsletter">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>订阅多背一公斤简报</h3>
      <div class="blockOuter">
        <form class="contents" action="http://groups.google.com/group/1kgnews/boxsubscribe">
          <input type="text" class="form-text" name="email" value="电子邮件" />
          <input type="submit" class="form-submit" value="订阅" name="sub" />
        </form>
      </div>
    </div>
  </div>
</div>
<% end -%>

    <script type="text/javascript" src="/javascripts/jQuery/jquery-1.2.6.pack.js"></script>
    <script type="text/javascript" src="/javascripts/jQuery/jquery.cycle.pack.js"></script>
    <script type="text/javascript" src="/javascripts/jQuery/addLoad.js"></script>

<div id="headline">
  <ul>
    <li><a href="http://1kg.org/minisite/postcard"><img src="/images/announce/postcard.png" alt="让爱继续 - 购买公益贺卡" /></a></li>
    <li><a href="http://1kg.org/minisite/postcard"><img src="/images/announce/intro.jpg" alt="旅途中的举手之劳，为孩子们的世界打开一扇窗 - “多背一公斤”公益旅游" /></a></li>
  </ul>
</div>

<div id="siteIntro" style="font-size:14px;">

  <p>多背一公斤是一种旅行方式。它以一种轻松快乐的方式，让旅行者在旅途中探访乡村学校，传递爱心和知识，同时为自己的旅程增添意义。</p>
  
  <p>多背一公斤由"传递—交流—分享"三个步骤组成：</p>
  <ul><li><strong>传递</strong> － 出行时多背一公斤，为乡村学校带去需要的物资。</li>
  <li><strong>交流</strong> － 在学校中与孩子们共同游戏和活动，传播知识，分享快乐。</li>
  <li><strong>分享</strong> － 归来后在1KG.org网站分享信息，方便更多人参与。</li></ul>
  
  <p><%= link_to "&raquo; 随便转转, 更多了解多背一公斤", public_look_url %></p>
  <p style="font-size:0.8em; margin-left:20px;">and if you're English speaker, please visit the <%= link_to "English introduction", "/misc/en-intro" %>.</p>
  
  <!--<p>我们也鼓励旅行者在与乡村师生建立起信任和友谊后，自主建立公益小团队，持续地为学校提供志愿服务。</p>
  
  <p>1KG.org是由多背一公斤参与者自我管理的公益协作社区，社区中的所有学校信息均由用户自行收集、上传和更新，所有活动由用户自行组织和参与，所有公益团队也由用户自发组建和管理。</p>
  
  <p>我们期望，通过这种大众协作式的公益参与，能够实现更大规模和更有效的公益服务，从而为广大的乡村学校带来持续的改善。</p>-->
</div>