<% content_for :sidebar do -%>
<div style="margin-left:-30px;width:290px">
  <%= render :partial => "/shared/login" %>
  <div class="newbox"><%= render :partial => '/shared/search_box' %><div>
</div>
<% end -%>

<div id="headline">
  <a href="/public"><img src="/images/title.jpg" alt="多背一公斤"></a>
</div>

<div id="siteIntro" style="font-size:14px;">
  <p><%= link_to "&raquo; 随便转转, 更多了解多背一公斤", public_look_url %></p>
  <p style="font-si ze:0.8em; margin-left:20px;">and if you're English speaker, please visit the <%= link_to "English introduction", "/misc/en-intro" %>.</p>
</div>
