<% content_for :sidebar do -%>
  <%= render :partial => "/shared/current_user_profile" %>
  <%= render :partial => '/shared/search_box' %>
<% end -%>

<% content_for :tail do %>
  <script type="text/javascript" src="/javascripts/jQuery/jquery.cycle.pack.js"></script>
  <script type="text/javascript" src="/javascripts/jQuery/addLoad.js"></script>
<% end %>

<div id="headline">
</div>

<div id="siteIntro" style="font-size:14px;">

  <p><%= link_to "&raquo; 随便转转, 更多了解多背一公斤", public_look_url %></p>
  <p style="font-size:0.8em; margin-left:20px;">and if you're English speaker, please visit the <%= link_to "English introduction", "/misc/en-intro" %>.</p>
</div>
