<div class="leftside_table">
<div id="left_marquee_rmpl">
  <a title="居家" href="">
    <img border="0" alt="居家" src="/images/mall/leftside_title_home.jpg"/>
  </a>    
  <a title="餐饮" href="">
    <img border="0" alt="居家" src="/images/mall/leftside_subpic_canyin.gif"/>
  </a>
  <div class="td_left_menu_list">
    <%= link_to "不锈钢", mall_category_path(:tag => "不锈钢") %>
     | 
    <%= link_to "蒸锅", mall_category_path(:tag => "蒸锅") %>
     | 
    <a href="category.php?id=101">水杯</a>
     | 
    <br/>
    <a href="category.php?id=102">餐具</a>
     | 
    <a href="category.php?id=103">储物容器</a>
     | 
    <a href="category.php?id=104">收纳</a>
     | 
    <br/>
    <a href="category.php?id=142">咖啡壶/茶壶</a>
     |
  </div>
  <a title="家饰" href="">
    <img border="0" alt="居家" src="/images/mall/leftside_subpic_jiashi.gif"/>
  </a>
  <div class="td_left_menu_list">
    <a href="category.php?id=109">花瓶</a>
     | 
    <a href="category.php?id=110">干花</a>
     | 
    <a href="category.php?id=111">仿真花</a>
     | 
    <br/>
    <a href="category.php?id=112">香薰</a>
     | 
    <a href="category.php?id=113">蜡烛</a>
     | 
    <a href="category.php?id=148">烛台</a>
     | 
    <a href="category.php?id=145">家纺</a>
     | 
    <br/>
    <a href="category.php?id=114">收纳</a>
     | 
    <a href="category.php?id=19">相框</a>
     | 
    <a href="category.php?id=20">相册</a>
     |
  </div>
  <div class="blank2"></div>
</div>
</div>
<div class="blank"></div>

<div class="leftside_table">
<div id="left_marquee_rmpl">
  <a title="办公" href="category.php?id=87">
    <img border="0" alt="办公" src="/images/mall/leftside_title_office.jpg"/>
  </a>
  <a title="文具" href="category.php?id=94">
    <img border="0" alt="文具" src="/images/mall/leftside_subpic_wenju.gif"/>
  </a>
  <div class="td_left_menu_list">
    <a href="category.php?id=35">笔</a>
     | 
    <a href="category.php?id=36">笔记本</a>
     | 
    <a href="category.php?id=141">计算器</a>
     | 
    <a href="category.php?id=143">笔袋</a>
     | 
    <br/>
    <a href="category.php?id=37">文件收纳</a>
     | 
    <a href="category.php?id=38">桌面用品</a>
     |
  </div>
  <div class="blank2"></div>
</div>
</div>
<div class="blank"></div>

<div class="leftside_table">
<div id="left_marquee_rmpl">
  <a title="旅行" href="category.php?id=87">
    <img border="0" alt="办公" src="/images/mall/leftside_title_traveling.jpg"/>
  </a>
  <a title="箱包" href="category.php?id=94">
    <img border="0" alt="文具" src="/images/mall/leftside_subpic_xiangbao.gif"/>
  </a>
  <div class="td_left_menu_list">
    <a href="category.php?id=120">收纳包</a>
     | 
    <a href="category.php?id=121">商务包</a>
     | 
    <a href="category.php?id=33">旅行箱包</a>
     |
  </div>
  <div class="blank2"></div>
</div>
</div>
<div class="blank"></div>