<div class="blank2"></div>
<div class="helpcenter_normal">
  <ul>
    <li>
      <img src="/images/mall/helpcenter_arrow.jpg"/>
      <span class="helpcenter_title">新手指南</span>
      <br/>
      <a href="/article.php?id=51">注册新用户</a>
      <br/>
      <a href="/article.php?id=52">订购流程</a>
    </li>
    <li>
      <img src="/images/mall/helpcenter_arrow.jpg"/>
      <span class="helpcenter_title">账户信息</span>
      <br/>
      <a href="/article.php?id=53">账户功能介绍</a>
      <br/>
      <a href="/article.php?id=54">忘记密码</a>
    </li>
    <li>
      <img src="/images/mall/helpcenter_arrow.jpg"/>
      <span class="helpcenter_title">付款/退款</span>
      <br/>
      <a href="/article.php?id=58">网上支付的常见问题</a>
      <br/>
      <a href="/article.php?id=59">如何办理退款</a>
      <br/>
      <a href="/article.php?id=60">发票制度说明</a>
    </li>
    <li>
      <img src="/images/mall/helpcenter_arrow.jpg"/>
      <span class="helpcenter_title">配送服务</span>
      <br/>
      <a href="/article.php?id=61">配送方式</a>
      <br/>
      <a href="/article.php?id=62">快递说明</a>
      <br/>
      <a href="/article.php?id=63">商品验货与签收</a>
      <br/>
    </li>
    <li>
      <img src="/images/mall/helpcenter_arrow.jpg"/>
      <span class="helpcenter_title">订单处理</span>
      <br/>
      <a href="/article.php?id=55">修改订单</a>
      <br/>
      <a href="/article.php?id=56">取消订单</a>
    </li>
    <li>
      <img src="/images/mall/helpcenter_arrow.jpg"/>
      <span class="helpcenter_title">售后服务</span>
      <br/>
      <a href="/article.php?id=65">退换货政策</a>
      <br/>
      <a href="/article.php?id=66">如何办理退换货</a>
    </li>
    <li>
      <img src="/images/mall/helpcenter_arrow.jpg"/>
      <span class="helpcenter_title">服务信息</span>
      <br/>
      <a href="/article.php?id=46">会员制度</a>
      <br/>
      <a href="/article.php?id=47">体验券</a>
      <br/>
      <a href="/article.php?id=45">包装贺卡</a>
    </li>
  </ul>
</div>
<div class="blank2"></div>