<% @page_title = "公益商城" %>

<% content_for :heads do -%>
<link type="text/css" rel="stylesheet" href="/stylesheets/mall.css" media="screen, projection" />
<% end -%>

<% content_for :crumb do -%>
<li>公益商城</li>
<% end -%>

<% content_for :fullsize do -%>
<div class="AreaL">
  <div class="AreaL">
    <%= render :partial => "category" %>
  </div>
</div>
  
<div class="AreaR">
  <div class="recommend_goods_title">
    <img border="0" alt="居家" src="/images/mall/leftside_title_home.jpg"/>
  </div>
  <%= render :partial => "list", :locals => {:goods => @goods} %>
</div>
<% end -%>
