<% content_for :tail do -%>
  <script src="http://ditu.google.cn/maps?file=api&amp;v=2&amp;key=ABQIAAAAJod3rJ1UD4NbyqMUYncq8hSJzhnW5idwQnMkpN3KtraAW36MXhQfv15HR27S30pNBsaozzpDAHB-QA" type="text/javascript"></script>

    <script type="text/javascript">
      var activities = <%= @json.to_json %>;
    </script>

  <script type="text/javascript">
    var map;
    var base_icon = new GIcon();
    base_icon.shadow = null;
    base_icon.iconSize = new GSize(16, 20);
    base_icon.shadowSize = null;
    base_icon.iconAnchor = new GPoint(8,10 );
    base_icon.infoWindowAnchor = new GPoint(8, 6); 
    
    var green_icon = new GIcon(base_icon,"/images/a0.png");
    var blue_icon = new GIcon(base_icon,"/images/a2.png");
    var orange_icon = new GIcon(base_icon,"/images/a1.png");
    var pink_icon = new GIcon(base_icon,"/images/a3.png");
    var brown_icon = new GIcon(base_icon,"/images/a4.png");
    var purple_icon = new GIcon(base_icon,"/images/a5.png");
     
    function initialize() {
      if (GBrowserIsCompatible()) {
        map = new GMap2(document.getElementById("map_div"));
        map.setCenter(new GLatLng(<%= @map_center[0].to_f %>, <%= @map_center[1].to_f %>), <%= @map_center[2] %>);
        map.addControl(new GLargeMapControl());
        
        markers = [];
        
        for (var i = 0; i < activities.length; ++i) {
          var point = new GLatLng(activities[i].a, activities[i].o)
          var marker = new GMarker(point, {icon: [blue_icon,green_icon,orange_icon,pink_icon,brown_icon,purple_icon][(activities[i].t)], title: activities[i].n,class: activities[i].t });
          GEvent.addListener(marker, "click", markerClickFn(point, activities[i].i,'activities'));
          
          markers.push(marker);
          map.addOverlay(marker);
        }
        
      }
    }
    
    function category(c){
      map.clearOverlays();
      for (var i = 0; i < activities.length; ++i) {
        if(activities[i].t == c || c == null){
          var point = new GLatLng(activities[i].a, activities[i].o)
          var marker = new GMarker(point, {icon: [green_icon,orange_icon,blue_icon,pink_icon,brown_icon,purple_icon][(activities[i].t)], title: activities[i].n,class: activities[i].t });
          
          markers.push(marker);
          map.addOverlay(marker);}
        }
      }
    
    
    window.onload = initialize;
  </script>
<% end %>

<div id="activities_category" style="width:140px;height:320px;margin:1em 0;float:right;background:#ddd">
  <ul>
    <li><div class="color_cube" style="background-color:#aaa"></div><a onclick="category();return false;" href="#" class="selected">全部活动</a></li>
    <li><div class="color_cube" style="background-color:green"></div><a onclick="category(0);return false;" href="#">公益旅行</a></li>
    <li><div class="color_cube" style="background-color:blue"></div><a onclick="category(2);return false;" href="#">支教</a></li>
    <li><div class="color_cube" style="background-color:orange"></div><a onclick="category(1);return false;" href="#">物资募捐</a></li>
    <li><div class="color_cube" style="background-color:#a33"></div><a onclick="category(4);return false;" href="#">同城公益</a></li>
    <li><div class="color_cube" style="background-color:purple"></div><a onclick="category(5);return false;" href="#">网络活动</a></li>
    <li><div class="color_cube" style="background-color:#d18"></div><a onclick="category(3);return false;" href="#">其他</a></li>
  </ul>
</div>
<div id="map_div" style="width:498px"></div>
