<% @page_title = "编辑活动" -%>



<% content_for :sidebar do -%>
 <% @page = Page.find_by_slug('activity-guide') -%>
  <%if @page%>
  <div class="newbox">
    <h3>活动编辑指南</h3>
      <div class="clearfix" style="margin-bottom:10px"></div>
     <%= render :text => @page.body %>
  </div>
 <%end%>
<% end -%>

 <div class="newbox" id="activitiesPostNew">
   <h3>编辑活动</h3>
    <div class="clearfix" style="height:10px"></div>
    <div class="caution" style="-float:left">编辑活动请注意，注意活动从开始到结束，时间不能超过三个月噢。</div>
    <div class="clearfix" style="clera:both;height:10px"></div>
    <% form_for :activity, :url => activity_url(@activity.id), :html => {:method => :put} do |f| -%>
    <%= render :partial => "form", :object => f %>
    <p class="submit clearfix"><span class="btnWrap"><%= submit_tag "修 改" %></span>/ <%= link_to "取消", activity_url(@activity) %></span>带<span class="require">*</span>号的是必填项</p></p>
    <% end -%>
</div>