<% @page_title = "编辑活动" -%>

<% content_for :crumb do -%>
<li>编辑活动</li>
<% end -%>

<% content_for :sidebar do -%>
 <% @page = Page.find_by_slug('activity-guide') -%>
  <%if @page%>
  <div class="newbox">
     <span class="span_title">活动编辑指南</span>
      <div class="clearfix" style="margin-bottom:10px"></div>
     <%= render :text => @page.body %>
  </div>
 <%end%>
<% end -%>

 <div class="newbox" id="activitiesPostNew">
        <span class="span_title">编辑活动</span>
        <div class="clearfix" style="height:20px"></div>
      <% form_for :activity, :url => activity_url(@activity.id), :html => {:method => :put} do |f| -%>
      
      <%= render :partial => "form", :object => f %>
      <p class="submit clearfix"><span class="btnWrap"><%= submit_tag "修 改" %></span>/ <%= link_to "取消", activity_url(@activity) %></span>带<span class="require">*</span>号的是必填项</p></p>
      <% end -%>
</div>