<% @page_title = "所有进行中的活动" %>




<% content_for :sidebar do -%>
  <div class="cleanfix" style="clear:both;height:20px"></div> 
<span class="remark"><%= link_to raw("&raquo; 回到活动首页"),activities_url%></span>
<%end%>

<div class="box">
     <h3>所有进行中的活动</h3>
      <div class="contents">
      <%= render :partial => "public/activity", :collection => @activities%>
      <%= customize_paginate @activities %>
      </div>
</div>
