<% content_for :crumb do -%>
<li><%= link_to "随便转转", public_look_url %></li>
<ul>
  <li>所有已经结束的活动</li>
</ul>
<% end -%>

<% content_for :fullsize do -%>
<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>所有已经结束的活动</h3>
      <div class="contents">
        <%= render :partial => "activities", :object => @activities %>
        <%= customize_paginate @activities %>        
      </div>
    </div>
  </div>
</div>
<% end -%>