<% @page_title = "所有已经结束的活动" -%>

<% content_for :crumb do -%>
<ul>
  <li>所有已经结束的活动</li>
</ul>
<% end -%>



<div class="newbox">
      <span class="span_title">所有已经结束的活动</span>
      <div class="contents">
      <%= render :partial => "shared/activity", :collection => @activities%>
      <%= customize_paginate @activities %>
      </div>
</div>
