<% @page_title = "所有进行中的活动" %>



<div class="box">
     <h3>所有和学校有关的活动</h3>
      <div class="contents">
      <%= render :partial => "public/activity", :collection => @activities%>
      <%= customize_paginate @activities %>
      </div>
</div>
