<p><label class="label">厂商名称</label><%= form.text_field :title, :size => 40, :class => "formText" %></p>
<p><label class="label">slug</label><%= form.text_field :slug, :size => 20, :class => "formText" %></p>
