<% @page_title = "修改攻略" %>

<% content_for :fullsize do -%>
<div class="box" id="sharePostNew">
  <div class="boxOuter">
    <div class="boxInner">
      <h2><%= @page_title %></h2>
      <% form_for @school_guide, :url => school_guide_path(@school, @school_guide), :method => 'put' do |form| -%>
        <%= render :partial => "form", :object => form %>
        
        <p class="submit clearfix">
          <span class="btnWrap"><%= submit_tag "更 新" %></span> 
          <span><%= link_to "取 消", root_url %></span>
        </p>
      <% end -%>
    </div>
  </div>
</div>

<% end -%>