<div class="onekg_box item">
  <div class ="onekg_box_title">
    <%= link_to box.name,box_path(box) %>
  </div>
  <%= link_to(image_tag(box.image.url),box_path(box),:class => 'onekg_box_image')%>
</div>
