<% group = introable%>
  <div class="box">  
    <h4> 相关小组： </h4> 
    <%= image_tag(group.avatar.url(:'48x48'),:style=>'float:left;')%>
    <div style="margin-left:56px;margin-top:-8px">
      <p><b><%= link_to group.name,group %></b>
      </p>
    </div>
  </div>

