<% school = introable%>
  <div class="newbox">  
    <h4>相关学校</h4>
    <p>来自：<b><%= link_to school.name,school %></b> <span><%= school.geo.full_name%></span></p>
    <%= link_to topic_photo_thumb(school),school,:alt => '学校主题图',:class => "school_main" %>
    <div style="margin-left:70px;margin-top:-8px">
      <p class="explanation">
        <%= short_text(school.intro,50)%>
      </p>
    </div>
  </div>

