<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  xml:lang="utf-8">
  <head>
    <title>多背一公斤</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
 		<link type="text/css" rel="stylesheet" href="/stylesheets/screen.css" media="screen, projection" />
    <!--[if lt IE 7]>
    <link type="text/css" rel="stylesheet" href="/stylesheets/patches/win-ie6-below.css" media="screen, projection" />
    <![endif]-->
    <!--[if gte IE 7]>
    <link type="text/css" rel="stylesheet" href="/stylesheets/patches/win-ie7-up.css" media="screen, projection" />
    <![endif]-->
    
  </head>
  <body id="org-1kg">


		<div id="header">
			<div class="wrapper">
        <h1 id="logo" class="span-15">
          <a href="/"><span><!-- for logo --></span>多背一公斤</a>
        </h1>
      </div>
    </div>
    
<div id="navWrap">
  <div id="nav">
    <ul>
      <li></li>
    </ul>
    <p style="float:right">
      &nbsp;
    </p>
    
  </div>
  
  <div id="breadcrumb">
    <h3></h3>
    <ul>
      
        <ul>

        </ul>
      </li>
    </ul>
  </div>
</div>
			
	  <div class="wrapper">
			<div id="content">
			  <div id="content-layout" class="clearfix">

          <div id="caution" style="margin:150px auto; font-size: 14px; width:600px;">
            <p>亲爱的用户,</p>
            <p>我们正在进行网站系统维护, 暂停访问半小时(2月23 17:00-17:30), 请见谅!</p>
            <p>我们会尽快恢复服务, 您可以保留此页面, 稍后刷新.</p>
          </div>
          
			    <div id="content-primary-wrap">
			      <div id="content-primary">
       					
			      </div><!-- end #content-primary -->
			    </div><!-- end #content-primary-wrap -->

	        <div id="content-secondary">

  			  

			   </div><!-- end #content-secondary -->
			</div><!-- end #content-layout -->

		</div><!-- end #content -->
    <div class="clear"></div>
			
    </div><!-- end #wrapper -->
    
		
  </body>
</html>